[2016-10-05 13:34] khantthulinn commented on #326
hi  I am using apns. what is reg_id?

[2016-10-05 13:59] khantthulinn commented on #326
Argh...I got it now. Thanks you for your help. I am using apns though. I will put my token like that.

[2016-10-06 06:47] eLod commented on #41
@jleclanche would you consider relaxing the uniqueness constraint to be scoped to (`unique_with`) user id, at least for iOS apps (APNSDevice)? As far as i know it's a common use-case to let users sign in with multiple accounts in the same app (on the same device) and receive notifications for all of them. When sending it can take the unique list of registration ids (or even send duplicated message

[2016-10-06 06:51] jleclanche commented on #41
I will accept a pull request that makes it configurable but defaults to the current behaviour.

[2016-10-09 23:06] lukeburden commented on #296
It might make more sense to use the `active` flag for this purpose.

Registration IDs are basically unique for an app install and a device, as best we know. This means two users of a single device using a single installed app (this DOES happen, albeit infrequently) can attempt to register the same registration ID and hit a pointless validation error with your current approach.

If we used `unique_

[2016-10-16 18:07] #325 closed

[2016-10-16 18:08] #326 closed

[2016-10-18 05:52] khantthulinn opened #330 "Multiple certificate for push notification (apns)"
Actually,  this might not be issue but I don't know how to contact developers.

I am using this django-push-notifications and it is working well for my push notification. Problem now is that I have an app which have both pro and lite version. As a result, I have 2 certificate to send push notification.

May I know whether multiple push certificate is supported? If so, how shall I do?

[2016-10-18 06:23] jleclanche commented on #330
If you're using the low level functions, you can pass the `certfile` argument to them:

https://github.com/jleclanche/django-push-notifications/commit/8737a4d7beda8f9a1655466a8aa88a44652c7971

[2016-10-18 06:25] khantthulinn commented on #330
Thanks. I will check out. But I am not using low level function though.

[2016-10-20 08:10] vintage commented on #207
django-push-notifications==1.4.1

I'm hitting same issue currently:

DataError: bigint out of range
rest_framework.serializers.create
<domain>/api/v1/device/gcm/

I've run the mobile application on Nexus 6P (Android 7) and during device registration it sent to the backend following data:

{'device_id': '88d26c10dcabe006', 'registration_id': 'cCYZJ9alp4I:APA91bHluqeUiHlV9qO9nvGppEg4JXTWE3sF1KETFSyX

[2016-10-20 10:30] jleclanche commented on #207
@vintage it's a legacy decision which I regret; but now it's hard to change it.

[2016-10-20 14:44] jamaalscarlett commented on #207
@vintage @jleclanche  I chose a different method for device registration.  Unfortunately even Google acknowledges that there is no uniform method for retrieving a unique device id on Android: [Best Practices for Unique Identifiers](https://developer.android.com/training/articles/user-data-ids.html)
For my android app, I:

1. register the device with GCM
2. pass the registration_id to my Django app

[2016-10-22 10:35] khantthulinn opened #332 "Push notification are not sending out"
I have tested with 3 cases.

1) From admin module, I use 'Send test message'
2) I write my own view and send message to all
[code]

3) I write my own view and send message to particular token

[code]

1 and 3 are still okay. It means my push certificate is working well. Problem is that when I send message to all user, it doesn't send already. Last time, I only have like 10 devices and it is okay.

[2016-10-22 13:54] jamaalscarlett commented on #332
Are you receiving any errors?  When you use the admin can you bulk send to all devices?

[2016-10-23 13:44] khantthulinn commented on #332
How can I check error message? According to my code, I will always get HTTP_200_OK. I haven't tried for bulk yet. Currently, it is already in production server and I don't have dev server yet.

[2016-10-23 17:16] jamaalscarlett commented on #332
@khantthulinn if it sends for 10 devices, but not 100 devices, that sounds like a problem with the APNS service and not this library.

[2016-10-23 17:18] jamaalscarlett commented on #290
@gabrielpcosta18 could you test with the latest from master to see if it fixes your issue?

[2016-10-23 17:19] jamaalscarlett commented on #287
+1

[2016-10-24 02:59] andhieka commented on #302
I'm willing to help with a PR here, but I need some directions.

From a [Google FAQ](https://developers.google.com/cloud-messaging/faq):

which means that there is actually nothing much to change here except the POST URL. I'm still reading up more on GCM and FCM docs but I'll appreciate tips on what needs to be done here.

[2016-10-24 03:13] andhieka commented on #332
@khantthulinn I just confirmed that on my server, method 2 is still working. However, yesterday I experienced a similar problem: the bulk message is not sending sometimes. It turns out that when there is a mixture of devices with Sandbox token and Production token, the notification will not get pushed to devices by APNS. Maybe you can do that check and try "Test bulk notification" on a subset of y

[2016-10-24 03:37] khantthulinn commented on #332
@andhieka
Yes. Exactly same as my issue. I am using both sandbox and production token. When I need to send to both lite and prod, I change my cert manually.

I have tested for all user (around 100) with "Test bulk notification". It is okay.

It is not okay only when I use my own view. How shall I do?

[2016-10-24 03:48] andhieka commented on #332
My suggestion is to try isolating the problem first. Go to Django shell (python manage.py shell) and test these lines:

from push_notifications.models import *

message = 'test message'
devices = APNSDevice.objects.filter()
devices.send_message(message)

Does this run ok? If it's ok, then the problem is not in these lines. If this is not ok, then find out first what works. (Using objects.all() ins

[2016-10-24 04:00] khantthulinn commented on #332
Thanks. After I test, I will come back to you.

@jamaalscarlett i will check first.

[2016-10-24 05:03] movinj commented on #301
I'm also facing this error. And I didn't understand this thread - @elder0010 was getting the odd-length string error even with "Test". @chrisballinger said it must be a valid hex string, which "Test" sure is. Am I missing something?

[2016-10-24 16:13] goinnn opened #333 "Diferent header in pem certificate"
Hi,

My certificate has the next format:

-----BEGIN CERTIFICATE-----
blablabla....
-----END CERTIFICATE-----
-----BEGIN PRIVATE KEY-----
blablabla2....
-----END PRIVATE KEY-----

With this certificate, I get The APNS certificate file at 'XXXXX.pem' is unusable: The certificate doesn't contain a private key.

It is an parse error. If you want you can improve your package with this issue...

I have

[2016-10-24 16:18] jleclanche commented on #333
The library isn't doing any certificate parsing, so this is down to how upstream behaves.

[2016-10-25 10:32] goinnn commented on #333
@jleclanche It is the reason: https://github.com/jleclanche/django-push-notifications/blob/master/push_notifications/apns.py#L54

It is very strict, you can check for "BEGIN RSA PRIVATE KEY" or "BEGIN PRIVATE KEY"

[2016-10-25 10:50] jleclanche commented on #333
Oh, I didn't remember that code.

Can you submit a PR to change that?

[2016-10-25 13:21] psychok7 commented on #129
@jleclanche is `apns_send_message` supposed to return the json like gcm ?? because its not reuturning for me on the latest commit

[2016-10-25 14:25] alexbarcelo opened #335 "Having a "WebPush" device --does it make sense?"
I started to use this project before fully understanding what is a WebPush and what is a Push. Given that I wanted to perform WebPush for Android Chrome browsers, I was focused on the GCM stuff and forgot to teach myself about WebPush and its requirements --mainly the required encryption mechanisms.

The current GCM device here is somewhat compatible with Chrome WebPush browsers, but because they

[2016-10-25 15:48] alexbarcelo commented on #335
I was completely sure to have checked "WebPush" and found nothing, and now I am seeing something somewhat WebPush related in #316.

Sorry. Should I close this?

[2016-10-25 16:06] jamaalscarlett commented on #335
If you want to submit a PR go for it.  #316 does not actually have any code that does anything in it.

[2016-10-26 09:05] alexbarcelo commented on #335
I see that this project has no external requirements (aside Django).

Would it be sensible to have the `WebPushDevice` and everything in place but perform `import pywebpush` in the `send_message` method and complain there? Or should there be a global (settings?) flag to enable WebPush *before* the data model and that stuff?

I would lean towards complaining in the `send_message` method --as there

[2016-10-26 11:52] jleclanche commented on #129
@jamaalscarlett Mind if I assign this to you? I have no idea what's going on.

[2016-10-26 16:51] jamaalscarlett commented on #129
@jleclanche sure

[2016-10-26 16:56] jamaalscarlett commented on #129
@cwliu are you on the latest version?  Your comment references 1.2.0, but the latest version is 1.4.1?  Have you tried sending directly from the manage shell or django admin?

[2016-10-27 01:39] cwliu commented on #129
@jamaalscarlett I don't work on that project anymore, so I have no environment to test it. Sorry.

[2016-10-27 14:44] jamaalscarlett commented on #335
@alexbarcelo Yes that's the way the tastypie and django-rest-framework features work

[2016-10-27 14:47] jamaalscarlett commented on #129
@psychok7 So if you roll back to the previous commit does it work again?

[2016-10-27 14:48] psychok7 commented on #129
@jamaalscarlett which commit exaclty do you want me to test?

[2016-10-27 14:51] jamaalscarlett commented on #129
@psychok7 You said the issue started with the latest commit, I assume you mean https://github.com/jleclanche/django-push-notifications/commit/0f90e14dc10ede8d37252fbe7c3032d497fa9d41, could roll back to https://github.com/jleclanche/django-push-notifications/commit/9223deac51a76ce4e7b1f0bdef0777581958b11a

[2016-11-03 19:33] alexandreferreira commented on #302
Hi, I made a implementation off this topic, please take a look #336

[2016-11-16 11:42] pfertyk commented on #332
Hey, I think I have a similar problem. There are 3 APNS devices shown on django admin page for my user:
- iPhone1 (correct)
- incorrect device (created manually by me by copying the data from another entry and modifying the **Registration ID**)
- iPhone2 (correct)

Both iPhones are separate physical devices. When I select 'Send test message' from django admin page (all 3 devices are selected) then

[2016-11-16 16:17] shigmas commented on #332
Last I read (which was a while ago), that is the expected behavior according to the documentation. The feedback service can be used to find invalid devices since the last notification. (Does that still work?)

[2016-11-17 10:11] #302 closed

[2016-11-18 23:10] jaddison opened #338 "Tastypie lacks input validation"
If tastypie is being abandoned, then please ignore this issue. If not, read on.

I can use `curl` to throw the same device/registration data at the tastypie endpoint and it will happily return `201 Created`. Unlike the django-rest-framework API resources/viewsets, tastypie doesn't perform any validation.

[2016-11-21 07:36] pfertyk commented on #332
So the solution is to send a message to each of the devices first and check if it was delivered, and if not, delete the device? Or do I get it totally wrong?

This is my first encounter with APNS, so I ask for patience :) Could you please provide a code sample that would illustrate the correct solution?

[2016-11-24 10:42] piotrjakimiak commented on #333
I've fixed it in #340

[2016-11-28 21:17] gklka commented on #313
Until that happens, we can use something like this:

[code]

(Example for an iOS 10 rich notification)

[2016-12-01 17:32] dulaccc commented on #330
Btw, it works also if you are using higher methods like `.send_message`.

[2016-12-01 18:25] psychok7 commented on #129
@jamaalscarlett sorry i took so long to answer, i am now using https://github.com/jleclanche/django-push-notifications/commit/fcebfc1a3c66e761f46641977106a1caee7291b0 and `apns_send_message` now returns a string (not json) of the registration i used. if you want me to open a new issue or run more testes let me know (since i am hijacking the gcm one)

[2016-12-01 18:29] jamaalscarlett commented on #129
@psychok7 yes, please open a separate issue.  thanks.

[2016-12-01 18:30] jamaalscarlett commented on #129
@btnz are you still experiencing this issue?

[2016-12-01 18:54] psychok7 opened #342 "Apns error handling and debug information"
I noticed that currently for the GCM when we use the bulk `send_message` we get back a json like this:

[code]

For the APNS with https://github.com/jleclanche/django-push-notifications/commit/fcebfc1a3c66e761f46641977106a1caee7291b0 i am only getting a string like `"6b9ea422e297a61c5284600fc4498345344f724cfc3d540d8e5b9727541cadfe"` (even for multiple apn devices).

Isn't there a way for apns send

[2016-12-01 18:55] psychok7 commented on #342
@jamaalscarlett created the issue like we talked about

[2016-12-02 15:11] WarmongeR1 opened #343 "Wrong implementation of FCM"
Hello,

I think your implementation of FCM (#302) is wrong.

2 reasons:

First:
In docs we have requests with Content-Type: application/json
Your implementation - application/x-www-form-urlencoded;charset=UTF-8
Docs - https://firebase.google.com/docs/cloud-messaging/send-message

Second:
A body is wrong - FCM expects JSON with keys: to, data, notification. But you send dict with key registration_i

[2016-12-02 17:00] jamaalscarlett commented on #343
@WarmongeR1 thanks for this.  I think that while GCM has been deprecated, Google has designed the FCM to accept GCM style messages.  Here is there troubleshooting curl command from the FCM page: [FCM server](https://firebase.google.com/docs/cloud-messaging/server)

Checking the validity of a server key
If you receive authentication errors when sending messages, check the validity of your Server ke

[2016-12-09 10:15] psychok7 opened #344 "Connection reset by peer"
Hi there, i am running into this issue when sending a notification to multiple APNS devices using commit `fcebfc1a3c66e761f46641977106a1caee7291b0`:

[code]

Any ideas on what this could be or how to fix it?? I don't really have any more apns information to debug..

[2016-12-15 17:42] #333 closed

[2016-12-15 18:18] PedroMD commented on #344
I think this issue needs a serious review, but you might want to take a look at your `APNS_ERROR_TIMEOUT` (check https://github.com/jleclanche/django-push-notifications/issues/95)

Also, lots of other people are sharing workarounds to solve this: https://github.com/jleclanche/django-push-notifications/issues/242

[2016-12-19 03:53] danieltigse opened #349 "FCM support"
I just installed the last version but I can't send a message via FCM. I checked the files inside side-packages/push_notifications/gcm.py and there is nothing about GCM. Help please.

[2016-12-19 15:14] jamaalscarlett commented on #349
@danieltigse do you mean nothing about FCM?  It may not be in a released version.  Are you deploying from pypi, or building from source?

[2016-12-19 15:16] danieltigse commented on #349
Ohh I thought It was in the release version. Are you planning to release a new version? Meanwhile do you recommend me to build from source?

[2016-12-19 19:05] jamaalscarlett commented on #349
If you specifically want FCM, I would recommend waiting.  See https://github.com/jleclanche/django-push-notifications/issues/343

[2016-12-21 13:01] debugger22 commented on #343
Any tentative date for when is it getting a release?

[2017-01-06 05:19] capitandurango commented on #301
Same problem

[2017-01-15 22:05] anas-aldrees opened #351 "APNs Auth Key support"
Hi everyone, I think it is good idea to add APNs Auth Key support beside APNs certificate

[2017-01-18 10:34] jleclanche commented on #351
Do you have a link to some documentation? I'll take a PR for it.

[2017-01-18 10:38] anas-aldrees commented on #351
https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html

[2017-01-31 16:38] bctiemann opened #353 "Migration 0002_auto_20160106_0850 fails on MySQL/InnoDB with UTF8, key length too long"
Running the migration I get:

django.db.utils.OperationalError: (1071, 'Specified key was too long; max key length is 767 bytes')

My database is set to use InnoDB with UTF8mb4 encoding. I can manually perform the change made by this migration by setting the field to latin1, but with my default UTF8 the migration tries to make the field too long to save.

[2017-02-07 20:39] JesseCrocker commented on #351
Is anyone currently working on this? If not i'll probably give it a go

[2017-02-07 20:39] jleclanche commented on #351
Go ahead.

On Tue, Feb 7, 2017, 22:39 Jesse Crocker <notifications@github.com> wrote:

[2017-02-07 20:47] ninobaldo commented on #248
@jleclanche I'm think the issue here is how heroku deploy works. In order to deploy on heroku,  @jschneier must save the pem file on git repository. @jschneier , @jleclanche am I wrong?

@ilyatikhonov when used on heroku your solutions writes a temp file on each request?

[2017-02-08 02:15] jschneier commented on #248
@ninobaldo no you are wrong. this solution worked for me. i stored the value env var and then wrote it to a temp file.

[2017-02-08 03:02] ninobaldo commented on #248
@jschneier but does this not cause a file to be saved in every request? Heroku persists the pem?

[2017-02-08 22:52] jschneier commented on #248
Only on application boot.

[2017-02-08 22:54] ninobaldo commented on #248
Nice! Tks!

[2017-02-09 12:01] tasn opened #354 "Show sent registration ids in GCMError"
Hey,

At the moment when GCMError is created, it's created with the server's response. The problem with this approach is that the server doesn't show the registration ids used. This in turn makes it rather annoying to trace back issues and trying to understand why a certain message was sent (both in bulk mode and not).

My actual scenario: I'm sending a bulk message to a few registration_ids and I

[2017-02-09 12:56] ilyatikhonov commented on #248
Hi @ninobaldo, my solution creates a temp file only once per app instance during the initialization.

[2017-02-10 14:44] JesseCrocker commented on #351
I spent some time working on this, then gave up and decided to just use https://github.com/genesluder/python-apns instead.

[2017-02-10 14:54] jleclanche commented on #351
FWIW I'd love it if the current APNS logic would be ported to use python-apns as a lib.

[2017-02-17 23:08] chrisballinger opened #355 "SSLError: [SSL: TLSV1_ALERT_INTERNAL_ERROR] tlsv1 alert internal error"
Just started seeing these appear out of the blue in my logs ~30 min ago, and push no longer works at all. Not sure what to do here but it seems that perhaps SNI is failing to negotiate properly?

Apologies for the formatting of the traceback.

[code]

[2017-02-17 23:33] chrisballinger commented on #355
Ah, it looks like the cert expired.

[2017-02-17 23:45] chrisballinger commented on #355
Okay, actually even after updating the certificate and rebooting all my workers it is still throwing this error. Really not sure what is going on here.

[2017-02-17 23:58] chrisballinger commented on #355
Is there a chance that APNS requires TLSv1.2 all of a sudden? I know it's already required for the HTTP/2 endpoint.

The code is currently set to use `ssl.PROTOCOL_TLSv1` but perhaps that should be changed to something else because it [appears to be deprecated](https://docs.python.org/2/library/ssl.html#ssl.PROTOCOL_TLSv1) anyway in Python 2.7.13.
[code]
https://github.com/jleclanche/django-push-n

[2017-02-18 00:04] chrisballinger commented on #355
Some more info:
* Heroku Cedar-14 stack
* OpenSSL 1.0.1f
* Python 2.7.11

[2017-02-18 00:09] chrisballinger commented on #355
Okay, I updated to Python 2.7.13 and it seemed to fix the problem. (???)

[2017-02-18 00:09] #355 closed

[2017-02-18 00:14] chrisballinger commented on #355
My guess is that Heroku was caching our old cert, and for whatevver reason the new cert wasn't being copied properly. I think by updating the Python version it did a more thorough wipe of the stored data.

[2017-02-18 02:29] jleclanche commented on #338
Tastypie is abandoned yeah. It'll be removed before next release I think.

[2017-02-18 02:29] #338 closed

[2017-02-18 02:36] jleclanche commented on #205
@Proper-Job @masnun @koutoftimer Hey guys, are you still interested in helping out?

[2017-02-18 05:59] koutoftimer commented on #205
I'm out of sync with the code more than a year. Have to analyze changes first.

[2017-02-18 06:44] Proper-Job commented on #205
@jleclanche yes, in a limited capacity, I'm willing to help out.
Has anything changed in the maintainer setup recently?  Do you and @jamaalscarlett still do the heavy lifting? What would you have me do ideally?  Triage of tickets? Or help on specific issues?

[2017-02-18 07:09] #236 closed

[2017-02-18 07:10] #238 closed

[2017-02-18 07:14] jleclanche commented on #205
Ticket triage is okay, because most are questions and they tend to get answered. I can also keep an eye on them.

Here are the main things that need to happen:

* Redesign & rework of the apns backend so that it uses [PyAPNS](https://github.com/djacobs/PyAPNs) or a similarly-suitable library.
* Landing support for multiple mobile apps (#348). The PR in question doesn't look fine to me, but it need

[2017-02-18 07:18] #188 closed

[2017-02-18 07:19] #149 closed

[2017-02-18 07:19] #237 closed

[2017-02-19 04:20] masnun commented on #205
Sorry for the late response. Yes, we're still using the library and I will be very happy to help. I got myself somewhat familiar with the code the last time. But it's been a while and I will have to take another look. I am going to do that and watch this repo in the mean time.

I hope I can start contributing soon.

[2017-02-20 03:49] r0y3 commented on #332
Has anybody found a solution on this issue?

My experience is that when use the when select all devices on admin and select "Send test message in bulk" the iOS devices can receive a push notification message. But if it's triggered on command line or cron job the iOS devices can't receive any push notifications.

Thanks,

[2017-02-20 08:49] Proper-Job commented on #205
@jleclanche I think it would be good to put the things you mentioned into a roadmap with milestones.  It'd be easier to prioritize that way and consolidate efforts. What do you think?

[2017-02-20 10:36] jleclanche opened #357 "Move to PyAPNS or a similarly-suitable library for APNS backend"
This is open for the taking.

Related: #170

[2017-02-20 10:37] jleclanche commented on #349
Merging into #343

[2017-02-20 10:37] #349 closed

[2017-02-20 10:40] jleclanche opened #358 "Replace HexIntegerField with a CharField"
HexIntegerField has been the source of many issues for some database backends. It's not really worth the trouble, especially as it makes it hard to search the field by hex and impossible by partial hex.

Replacing this needs a design plan that will account for migrating existing DBs.

Open for the taking.

[2017-02-20 10:42] #227 closed

[2017-02-20 10:43] jleclanche commented on #169
Closing old unanswered questions.

[2017-02-20 10:43] #169 closed

[2017-02-20 10:43] jleclanche commented on #296
Fix landed, closing

[2017-02-20 10:43] #296 closed

[2017-02-20 10:46] jleclanche opened #359 "Move to an Application-based model (maybe)"
Copied from #205:

This is intrinsically linked to multi-app support (#348).

This is open for the taking. If you work on this **please write a design proposal first**, as the most important part of this is designing the API and making sure it's easy to migrate to and/or backwards compatible.

[2017-02-20 10:46] jleclanche commented on #205
2.0 milestone lists everything that is on the high-priority todo:

https://github.com/jleclanche/django-push-notifications/milestone/5

Also, this:

https://github.com/jleclanche/django-push-notifications/issues?q=is%3Aopen+is%3Aissue+label%3A%22PR+Wanted%22

[2017-02-20 10:48] jleclanche commented on #205
I also added an issue for replacing the HexIntegerField stuff. Ok guys, I'll take PRs / design docs for any of this stuff. I'll also give commit access to anyone who's committing to help maintain this lib at least a little.

[2017-02-21 08:21] Proper-Job commented on #205
@jleclanche I'll take commit access. This is a good library and I'd like to see it stay alive.

[2017-02-21 20:27] matthewh opened #362 "Trigger push notification via REST API"
@jleclanche, I'm working on a feature to add DRF support for triggering a push message via HTTP POST.

Example: POST /api/v1/push/ with a JSON payload:

[code]

Message includes all of the message details. With each platforms specific options defined individually. Optional filters would allow for bulk notifications against devices matching the criteria.

Is this a feature that you would be interes

[2017-02-22 03:22] jleclanche commented on #362
Sure, sounds useful.

[2017-02-22 14:07] matthewh commented on #359
What's the reason for not accepting PR #348 as is?

[2017-02-22 14:17] jleclanche commented on #359
- Security issue of private keys in db is not figured out
- It's adding unrelated functionality to both APNS and GCM without documentation nor explanations
- The Application-based model is something I like, but I want it to be done right.

Mostly that last one though. Right now, in the PR, apps are a kludge.

[2017-02-22 14:28] matthewh commented on #359
I think one additional level of abstraction is needed. We should be able to group "applications" into logical units. For instance, if I have an iOS and Android clients those are two different "applications" but I want a "group" that contains both of those so that I can do things like "Notify all users of Application Group: MyApp that there will be scheduled downtime." That should cover both iOS an

[2017-02-22 14:41] jleclanche commented on #359
My main concern is that I do not want to *force* users to store sensitive data like that in the database, unencrypted. I want to make sure users can do it differently if they need to. If that means creating some sort of replaceable backend to get the data out of there and have it pull from the unencrypted db by default, I'm fine with it.

[2017-02-22 14:42] jleclanche commented on #359
I agree regarding app groups.

[2017-02-22 14:51] matthewh commented on #362
What's your comfort level on adding an optional dependency [django-filter](https://github.com/carltongibson/django-filter) to handle the device filtering? If you are using DRF, then django_filters would be required as well.

[2017-02-22 14:56] jleclanche commented on #362
Seems unnecessary. I won't refuse it outright but it has to be justified.

[2017-02-22 15:22] matthewh commented on #362
I do not associate devices with the django user model. Instead, the name field is set to the an identifier that is linked to a user account in another system. Essentially django-push-notifications runs by itself in a docker container and handles device registrations from iOS and Android clients and sends push notifications at the request of the backend infrastructure using a route like the one men

[2017-02-22 15:24] jleclanche commented on #362
Sorry, I thought i was in a different issue - that's what I get for juggling too many things at once.

Yes, depending on a DRF subdependency is fine within DRF itself. Make sure not to add the dependency in other parts of DPN.

[2017-02-25 02:29] jamaalscarlett commented on #354
@jleclanche what do you think?

[2017-02-27 12:24] Antwan86 commented on #205
I'd be up for giving a hand too (reviews / PRs / design suggestions / whatever)

[2017-02-27 14:10] singleton11 commented on #205
I'd change apns and gcm (and maybe wns) utilities to external dependencies to delegate responsibility (for support and testing) on them, and I'm just interested to this project

[2017-02-27 15:22] jleclanche commented on #205
@Proper-Job @Antwan86 @singleton11 Thanks for your interest guys.

@Proper-Job @Antwan86  I've added you as a collaborator; please do file pull requests however unless you're committing something trivial. I also ask that you stick to the rules in [CONTRIBUTING.md](https://github.com/jleclanche/django-push-notifications/blob/master/CONTRIBUTING.md) (So the "All", "Git" and "Python" sections of the

[2017-02-27 17:43] brad commented on #205
@jleclanche Have you considered handing the project over to [Jazzband](https://jazzband.co/)? I use several libraries that were suffering from lack of maintenance, but were very nicely cleaned up and revived by Jazzband.

[2017-02-27 18:46] jleclanche commented on #205
Yes, I talked to them even, over a year ago and never heard back. I also got a really bad vibe from them to be honest.

Either way, concern isn't lack of organization (I can keep up with that), it's more the lack of contributions. Jazzband wouldn't fix that.

[2017-02-27 20:14] matthewh opened #366 "Application Support 1.5 Proposal"
This is an intermediate step before implementing full in database support for multiple applications.

* Move drf and tastypie integrations into push_notifications.contrib. Add deprecated warnings at their current location for backwards compatibility.
* Add support for configuration adapters.
    * Add a LegacySettingsAdapter that supports the existing format. (this will be default)
    * Add a App

[2017-02-28 13:09] jleclanche commented on #366
Not opposed to it but seems unnecessary, and unrelated to this new adapter system. Also, tastypie is going away soon as someone PR's a removal for it.

Shall we skip application groups as well for this release then?

Rest looks good, +1

[2017-02-28 14:14] matthewh commented on #366
I had a couple ideas for other components that would fit well into a contrib module but if tastypie is going away I'll raise the question again when I have something concrete.

I didn't want to skip groups because I need it. However if you tell me you'll approve a separate PR for application groups then I'm fine skipping that for now.

[2017-02-28 14:25] jleclanche commented on #366
I'm +1 on application groups, but I'd like to do a release with as little "new" stuff as possible. At this point I just want to land this big thing and release 1.5 soon as you tell me it's good to go.

I don't care either way tbh.

[2017-02-28 15:05] matthewh commented on #366
I have a few other tasks to address this morning but I should be able to get a PR ready this evening (EST).

[2017-02-28 15:13] jleclanche commented on #366
No rush, I won't be able to get to this today, but others should review it too anyway.

[2017-03-01 16:11] jamaalscarlett commented on #366
This looks great.  I like the idea of application groups too, but I understand if you want a minimal first cut.

[2017-03-02 11:56] sww314 commented on #205
I can help as well. I use this library in a couple of projects right now.

[2017-03-03 07:34] fladi commented on #205
I'm planning to package this library as a Debian package. As a result of this I'd be willing to help out with maintenance of this package. We (employer) are going to use both APNS and GCM/FCM in our current project.

[2017-03-03 21:41] matthewh commented on #366
I just wanted to follow up and say this week didn't go as expected. My kids were sick and then I got sick. Everyone is feeling better now so I'm working on this again.

[2017-03-03 22:05] AgaKorotkiewicz opened #369 "send_message can't send push-notification to the topic."
It seems to me, that current version of `send_message` function, doesn't have the possibility to send message to the topic. The `registration_ids` parameter should be None, when you want to send something on topic, but then any `_cm_send_request` (etc) is not running.

[2017-03-05 04:11] #369 closed

[2017-03-10 04:46] Malthael opened #372 "Cannot use 'pip install git+<repo url>'"
I'm using `1.4.1` now, but I need to upgrade to newer version due to the usage of customizing `USER_MODEL`. (#281 says)

This is the messages I got when executed `sudo pip3.5 install git+https://github.com/jleclanche/django-push-notifications.git`:
[code]
And `python3.5 manage.py runserver` gives me:
[code]
Here is my settings about `django-push-notifications` in `settings.py`:
[code]
Is there som

[2017-03-10 05:09] jleclanche commented on #372
Try `pip install --upgrade setuptools` first.

[2017-03-10 06:13] Malthael commented on #372
It works!

However, when I try to migrate `push_notifications` it gives me:
[code]
My user model class is in the `/path/to/project/core/models.py`, so the reference has to be `core.models.User`.

Besides, I set the `USER_MODEL` to be `core.User` for passing the above check, but the table create syntax in database is still the default value of `USER_MODEL`(`auth_user`): (take `push_notifications_ap

[2017-03-10 06:50] jleclanche commented on #372
`core.User` is correct. Django will pick up on it correctly. I don't know why the migration wouldn't use the correct table.

[2017-03-10 06:51] jleclanche commented on #372
Also you probably want to change your mysql default charset to utf-8 (or better yet, switch to Postgres 😉)

[2017-03-10 07:20] Malthael commented on #372
I solve it!!! Thank you :)

It needs to make migration and migrate after change the `USER_MODEL`.

[2017-03-10 07:20] #372 closed

[2017-03-10 07:22] jleclanche commented on #372
Good to hear! Do consider postgresql :)

[2017-03-13 19:02] rnatour opened #373 ""cloud_message_type" for GCM devices not in pip version"
When installing through pip, it looks like an outdated version of the library is installed because there's no "cloud_message_type" keyword argument for GCM devices. Just wanted to point it out.

Thanks

[2017-03-14 19:38] jamaalscarlett commented on #373
pip uses the latest release, which is different from the master branch.

[2017-03-14 19:38] #373 closed

[2017-03-14 23:51] andreyshipilov opened #374 "Still getting "APNS device with this Registration ID already exists." or {"detail": "Not found."}"
I have this one in settings: `UPDATE_ON_DUPLICATE_REG_ID = True`

Logging in as a different User, but want to register the same device.

Receiving this when POSTing to ../apns/
[code]
Receiving this when PATCHing to ../apns/apns/{registration_id}/
[code]
Am I missing something or doing something wrong?

Thanks ahead.

[2017-03-15 00:27] andreyshipilov commented on #374
For some reason `pip install django-push-notifications` did not install the latest version. I mean it installs version 1.4.1, but there's nothing about `UPDATE_ON_DUPLICATE_REG_ID` setting there.

[2017-03-15 00:31] jleclanche commented on #374
Yes, see #373. I'll be doing a 1.5.0 release as soon as the last couple of blockers land, hopefully within the next few weeks.

[2017-03-15 00:31] #374 closed

[2017-03-15 00:33] andreyshipilov commented on #374
Ah, sweet. I'm gonna be deploying the app just with latest master branch for now.

[2017-03-17 21:19] matthewh commented on #216
I believe there are a number of valid approaches to handling the uniqueness of tokens and it will depend on the application designer to determine what is appropriate. I agree that it would  be acceptable to use the registration_id and the user_id to determine uniqueness in most cases.

I do not use the user_id. I set the name field to something suitable unique and use that. Perhaps this could just

[2017-03-21 16:56] jleclanche commented on #205
Closing this, we got a bunch of collaborators now.

[2017-03-21 16:56] #205 closed

[2017-03-21 16:58] jleclanche commented on #353
This is #298.

[2017-03-21 16:58] #353 closed

[2017-03-28 10:50] tasn commented on #354
ping

[2017-03-28 10:52] jleclanche commented on #354
Sorry for the delay. Yes, it sounds like we need to make the reg IDs available somehow. I would subclass the exception and add the reg ids as an attribute of it.

[2017-03-28 11:15] tasn commented on #354
Cool. Looking forward. I never managed to solve my InvalidParameters issue (didn't have time to deal with it), ended up just ignoring this error code (bad!). I hope that when this change lands I'll be able to properly trace the offending regid.

Thanks.

[2017-03-28 11:33] jleclanche commented on #354
I'm not going to be working on this myself, this is open for PRs tho

[2017-03-28 17:18] jamaalscarlett commented on #354
https://github.com/jleclanche/django-push-notifications/blob/fd782a03d17e33eb873f5c5640e57baea45e4003/push_notifications/gcm.py#L86
Take a look at that code.  Even when there is an error, the response should contain the offending registration ids and the error type
See this from the gcm developer page:
https://developers.google.com/cloud-messaging/http
{ "multicast_id": 216,
  "success": 3,
  "fai

[2017-03-28 17:28] tasn commented on #354
@jamaalscarlett, it wasn't clear in my initial report, so let me clarify.

When you send more than "max reciptients", the sending is split into chunks, see: https://github.com/jleclanche/django-push-notifications/blob/fd782a03d17e33eb873f5c5640e57baea45e4003/push_notifications/gcm.py#L206
This makes the index useless because you can't know if you are in chunk 1, 2 or 3.

See the problem?

[2017-03-28 18:48] jamaalscarlett commented on #354
@tasn got it, thanks for the clarification.

[2017-04-03 16:37] matthewh opened #377 "APNS_TOPIC not documented adequately"
This issue only impacts the unreleased master branch.

If APNS_TOPIC is not present in settings, sending an APNS notification fails. The setting is mentioned in the example configuration but is not defined under the APNS settings section. It would be appropriate to default APNS_TOPIC to "" in settings given the following [developer documentation](https://developer.apple.com/library/content/documen

[2017-04-03 19:33] #377 closed

[2017-04-03 21:40] matthewh commented on #358
@jleclanche I agree. Would you accept this also in 1.5?

[2017-04-03 21:47] jleclanche commented on #358
Probably not; I think this is a really backwards incompatible item. I could see it in 1.6 if there is one.

[2017-04-03 21:56] matthewh commented on #358
I tend to look at it as relaxing the requirement. Any old value would still be accepted but would now be a string. I'm not keen on the idea of going through all this work and still needing to maintain a my own branch for production.

[2017-04-03 22:18] jleclanche commented on #358
It requires a data migration though which I'm not a fan of working into 1.5.

[2017-04-03 22:30] matthewh commented on #358
But you'd accept making it a UUIDField like APNS and WNS for 2.0?

[2017-04-03 22:50] jleclanche commented on #358
Sure.

[2017-04-03 22:50] jleclanche commented on #358
Actually, what do you mean exactly? UUIDs are 128bit, the hexints are 64.

[2017-04-04 00:09] matthewh commented on #358
I was leaning towards converting any non-UUID value into a UUID using UUID5. The benefit here is all platform device_ids are now uuids. It would be transparent when adding device_ids to the system as we could convert any non-UUID into a uuid. We can also apply the same logic when filtering. This would allow application developers to use alternative values to the expected device_ids in situations w

[2017-04-04 01:27] jleclanche commented on #358
Why uuid5?

[2017-04-04 01:31] matthewh commented on #358
UUID5 is based on a SHA-1 hash of a namespace identifier, a UUID we can specify, and a string, the device_id. This basically let's us create hashes using uuids for sources that are not uuids.

[2017-04-04 01:37] matthewh commented on #358
Alternatively, consider switching WNS and APNS device_id to just a CharField and let application developers treat it however they deem necessary.

[2017-04-04 01:42] jleclanche commented on #358
I'd rather switch to a uuidfield which is zero-padded on the leftmost 64-bit.

[2017-04-04 01:50] matthewh commented on #358
I'd be willing to try that but I wonder if it would validate.

[2017-04-04 02:29] viinhpham opened #379 "GCM device doesn't have cloud_message_type field"
I am using django-push-notification verion 1.4.1 and getting this error:

django.core.exceptions.FieldError: Cannot resolve keyword 'cloud_message_type' into field. Choices are: active, date_created, device_id, id, name, registration_id, user, user_id

I checked to see that GCM device doesn't have cloud_message_type field but it does in master branch.
How can I resolve this?

[2017-04-04 13:48] jamaalscarlett commented on #379
You can pip install from the master branch, which is the unreleased stable branch.
```pip install git+https://github.com/jleclanche/django-push-notifications.git```
The readme for the 1.4.1 is here:
https://github.com/jleclanche/django-push-notifications/tree/1.4.1

[2017-04-04 13:48] #379 closed

[2017-04-04 13:53] matthewh opened #380 "pyapns2 requirement missing from setup.cfg"
This impacts the unrealsed master branch only.

pyapns2 is required for APNS support but is missing from the requirements section of setup.cfg.

Modify setup.cfg to include:

[code]

[2017-04-04 15:51] jleclanche commented on #380
yep feel free to.

[2017-04-04 15:55] jleclanche commented on #185
@matthewh What's the status on this now?

[2017-04-04 16:14] matthewh commented on #380
Merged with #370.

[2017-04-04 16:14] #380 closed

[2017-04-04 16:17] matthewh commented on #185
This is a duplicate of #216. My PR #375 to address this issue was a little too cavalier for you.

[2017-04-04 16:39] matthewh commented on #330
@jleclanche I believe #366 solves this issue. @khantthulinn would define two application configs, pro and lite, with a unique cert for each. What do you think?

[2017-04-05 01:51] khantthulinn commented on #330
I would love to try. Is it available already ?

[2017-04-05 02:15] viinhpham commented on #379
Okay thank you for your help @jamaalscarlett

[2017-04-05 13:20] matthewh commented on #330
@khantthulinn It is available if you use the master branch.

The setup instructions are on the wiki for [Muliple Application Support](https://github.com/jleclanche/django-push-notifications/wiki/Multiple-Application-Support).

## PUSH_NOTIFICATIONS_SETTINGS

Sample settings with a pro and lite applications defined.

[code]

[2017-04-06 13:30] matthewh opened #381 "Release 1.5"
@jleclanche What else needs to be completed to release 1.5? I believe the open tickets for the 1.5 milestone are all handled now.

I'd like to get that wrapped up and start on a 2.0 where we remove replace the HexIntegerField and relax the registration_id constraint for APNS. I'm still running a fork to address both of those.

[2017-04-06 14:59] jleclanche commented on #381
If you can confidently say master works fine, I'll make it a release.

[2017-04-06 15:28] matthewh commented on #381
My confidence would increase if we hear back from @khantthulinn or @shipilov. They both expressed interest in the new configuration.

[2017-04-06 15:31] matthewh commented on #381
In the meantime, how do you want to handle the HexIntegerField and registration_id constraint for APNS? I'd like to get started on that.

[2017-04-07 03:18] khantthulinn commented on #330
Thanks. I will let you know again when I manage to set up dev server.

[2017-04-08 18:48] matthewh commented on #358
Switching to a UUIDField that is zero-padded is pretty trivial. I'll get a PR ready.

[code]

[2017-04-08 19:23] matthewh commented on #358
@jleclanche It also appears that the HexadecimalField is unused. Safe to delete fields.py?

[2017-04-08 19:40] jleclanche commented on #358
Probably yeah.

J. Leclanche

On Sat, Apr 8, 2017 at 10:23 PM, matthewh <notifications@github.com> wrote:

[2017-04-09 11:37] sylwekb opened #382 "There is no rest framework ViewSet for FCM devices"
My workaround:

[code]

[2017-04-09 12:22] sylwekb opened #383 "Wrong POST url for FCM as an result of get_post_url"
I cannot send any messages via FCM. I fixed it by putting hardcoded FCM POST url in this line:
https://github.com/jleclanche/django-push-notifications/blob/master/push_notifications/gcm.py#L71

[2017-04-09 13:43] matthewh commented on #383
Thank you for submitting a bug report. The issue has been identified and will be fixed shortly.

[2017-04-09 13:48] matthewh commented on #383
@sylwekb The issue should be addressed now. If I may suggest, try out the new configuration explained in https://github.com/jleclanche/django-push-notifications/wiki/Multiple-Application-Support.

[2017-04-12 22:38] shigmas commented on #351
It'd be great to support Auth Key tokens through another package, but I think pyapns only supports certificates. python-apns depends on hyper, which I would like to look at more closely before adding that requirement to this.

I'm back to using APNS (and GCM eventually), so I'll do some research.

[2017-04-13 09:11] kit-cat commented on #351
It seems like https://github.com/Pr0Ger/PyAPNs2, which we're currently using for the APNS part, only supports certificates - maybe they would take a PR to support auth keys as well

[2017-04-13 14:17] skkap opened #385 "Using app without default django User model"
I am not using Django admin or standard User subsystem of Django.
Apparently Device model has FK field to auth.User, which I dont have.
I get this error:

[code]

If it is possible, I would like to turn of all models of this app and store Notification Keys of devices myself and use this app just for sending.
What can I do?

[2017-04-13 16:39] shigmas commented on #351
Oh! I didn't realize that you had already done the work! Thanks! I'm just getting back into this after a long absence. I'll take a look at that and see how much work that will take.

[2017-04-13 16:51] kit-cat commented on #351
No problem ! :)

[2017-04-14 04:19] andreyshipilov commented on #381
Can confirm. Multiple app settings works fine over here.

[2017-04-14 12:49] matthewh commented on #385
@skkap You can customize the model used for the user model and set it to some other model in your django app.

[code]

This project is designed to be used with Django's ORM. We plan, though not in the near term, to allow all of the device models (APNSDevice, GCMDevice, WNSDevice) to be extended or replaced though that is not possible right now. Since you are handling the storage of device informat

[2017-04-16 07:38] skkap commented on #385
Thanks for reply! Helped a lot!

[2017-04-16 12:40] #383 closed

[2017-04-16 12:40] jleclanche commented on #357
Done.

[2017-04-16 12:40] #357 closed

[2017-04-16 12:40] jleclanche commented on #366
We landed this.

[2017-04-16 12:40] #366 closed

[2017-04-16 12:40] jleclanche commented on #170
PyAPNS2 takes care of this.

[2017-04-16 12:40] #170 closed

[2017-04-16 12:42] jleclanche commented on #381
Django Push Notifications 1.5.0 has been released 🎉 🎉 🎉 . Special thanks to @jamaalscarlett, @matthewh and @kit-cat for carrying this one :)

Things should be a lot simpler now. With this release out, we can now be a bit more lenient with backwards incompatibility and move forward on [all this stuff](https://github.com/jleclanche/django-push-notifications/milestone/5). :)

[2017-04-16 12:42] #381 closed

[2017-04-16 12:50] kit-cat commented on #381
@jleclanche yay ! Congratulations 🎉

[2017-04-16 19:52] matthewh commented on #385
@skkap Good luck with your project.

[2017-04-16 19:52] #385 closed

[2017-04-19 08:39] edebruyne opened #387 "APNS Certificate is not readable on Python 3.5"
Hello im experiencing:
ImproperlyConfigured at /admin/push_notifications/apnsdevice/
The APNS certificate file at 'APNS_dev_cert.pem' is not readable: 'utf-8' codec can't decode byte 0xe8 in position 2482: invalid continuation byte

On my python 3.5/Django 1.10 server but i can use the same certificate on my python 3.4/Django1.10 local dev machine.

I had already try to check codec from the certif

[2017-04-19 08:59] #387 closed

[2017-04-19 08:59] edebruyne commented on #387
My bad, seems i have to update to django 1.11

[2017-04-21 08:38] facconi opened #389 "Unable to import .apns.apns_fetch_inactive_ids"
Hi. I'm using master version of django-push-notifications.
When I run the manage command prune_devices, I get the following error:

[code]

apns.py does not contain apns_fetch_inactive_ids!

Searching in the repository code, the apns_fetch_inactive_ids function is not found anywhere outside the manage command:

<img width="707" alt="shot" src="https://cloud.githubusercontent.com/assets/292414/2526

[2017-04-21 15:34] matthewh commented on #389
@facconi The management command prune_devices was removed in the 1.5 release. Devices are now pruned automatically by pyapns2. If you check the master branch you'll notice there are no longer any management commands in this project. If you are running from source, please confirm that those files are no longer present locally and double check you don't have any stale pyc files floating around - the

[2017-04-21 15:36] facconi commented on #389
I'll check, thank you for the answer.

[2017-04-21 15:36] #389 closed

[2017-04-24 22:40] Xepe opened #390 "Firebase notifications are not displayed in the console.firebase.google.com"
Hello,

I am working with firebase and I did all the configurations, the messages is sent and the phone is receiving  the message correctly, but in the notifications section in the firebase page the messages are not displayed.

I am just using:

`fcm_device.send_message("This is a message")`

Regards

[2017-04-25 15:27] jamaalscarlett commented on #390
@Xepe  Are you sure that the firebase console is suppose to display all notifications sent?  My understanding is that it displays notifications sent using the Firebase console gui.

[2017-04-25 16:26] Xepe commented on #390
Thanks for answering, you are right.

I was looking some information about this, I think that the only way to see if the notifications were sent is using the events in the analytics section in firebase.

In my scenario I need to keep a tracking of the messages sent for specific devices, I thought that firebase was handling this information as in the console gui but it does not.

Regards.

[2017-04-25 16:53] #390 closed

[2017-04-26 09:59] tyapkov opened #391 "Send test message not working"
I am trying to setup django-push-notifications and added just one device to db.

When trying to send_message from admin I get:

[code]

[2017-04-26 10:04] tyapkov opened #392 "Send bulk message working but messages are not delivered"
When sending bulk message to GCM devices from admin I get that "All messages were sent". At the same time when I am login in GCM console, I don't see any requests to the API. Also messages are not delivered to the devices.

Are test messages actually delivered? How can I test delivery?

[2017-04-26 17:26] Antwan86 opened #393 "Use django polymorphic"
I think this project is a good candidate to implement multi-table inheritance between different service providers, so it would be easier to select all user devices within one single queryset.

I'm using the good [django-polymorphic](/django-polymorphic/django-polymorphic) package on several projects and it's based on Content Types and Multi table inheritance internally with some improvements, ie a

[2017-04-26 19:07] pcambre opened #394 "FCM_ERROR_TIMEOUT Mandatory but not ussed"
FCM_ERROR_TIMEOUT is set as None, but when run legacy.py it verify if it's None. If you don't put some value in Setting it throw an error.
Looking for this constant seems that nobody use it.

[2017-04-27 00:34] #394 closed

[2017-04-27 13:38] matthewh commented on #393
I agree with you that adding support for sending messages across different device types is very useful. +1 for that idea. I strongly disagree that using polymorphic models is the best answer. I think we can accomplish this without introducing a dependency on django-polymorphic though it may not be as convenient as ``user.devices.all()``.

Each platform supports a slew of platform specific options.

[2017-04-27 13:42] jleclanche commented on #393
Heh that's funny, I was thinking about it just yesterday actually.

I'm +1 on it, but django polymorphic models only support 1.10 at the moment, waiting on the 1.11 compatible release first.

[2017-04-27 14:02] Antwan86 commented on #393
@matthewh Unfortunately if you want per-class specific methods (ie use the FCM `send_message()` for FCM devices, and APNS `send_message()` for APNS devices), you need to do things that *django-polymorphic* does (use content_type to retrieve the type, and do additional requests, at least one per platform).

I'm also strongly against adding more dependencies in a project, but it's clearly a textbook

[2017-04-27 16:46] matthewh commented on #393
@Antwan86 I have used _django-polymorphic_ in the past and my general experience has been, if you think _django-polymorphic_ solves your problem, you are solving the wrong problem.

Let's take a step back and look at why we have a model for each platform.

In the master branch each Device model defines two fields (the rest are inherited from Device):

* registration_id
* device_id

So, we make dev

[2017-04-27 19:38] cketant opened #396 "APNS_USE_SANDBOX setting is not respected"
Documentation states
- `APNS_USE_SANDBOX`: Use 'api.development.push.apple.com', instead of default host 'api.push.apple.com'.

Setting `APNS_USE_SANDBOX` in the `PUSH_NOTIFICATIONS_SETTINGS` has no affect because it is determined by the DJANGO DEBUG environment variable. See `django-push-notifications/push_notifications/settings.py` line 25-28. `APNS_USE_SANDBOX` is overridden by the DJANGO DEBUG

[2017-04-28 08:55] aleksihakli commented on #391
I can reproduce this. Seems like `send_test_message` actually *works* for us but the admin panel message rendering is broken. On [line 54 in admin.py](https://github.com/jleclanche/django-push-notifications/blob/master/push_notifications/admin.py#L54) `ret = ', '.join(ret)` seems to be getting a list of one dictionary as input type and crashes with that join.

I guess one option would be to cast t

[2017-04-28 21:44] cesarbecerra opened #397 "AttributeError: 'module' object has no attribute 'OP_NO_COMPRESSION'"
Why did i get this error?
my settings are like this

`PUSH_NOTIFICATIONS_SETTINGS = {
    "APNS_CERTIFICATE": os.path.join(BASE_DIR, 'apns.p8'),
    "APNS_TOPIC": "com.mx.......",
}`

[2017-04-29 00:23] jleclanche commented on #397
Try Python 3 maybe? Sounds like a Python 2 on OSX issue.

[2017-04-29 00:51] cesarbecerra commented on #397
my whole project is in python 2 😢

[2017-04-29 02:26] cesarbecerra commented on #397
well i resolved that problem but now am stuck with another bug

sl_context.load_cert_chain(cert_file)
SSLError: [SSL] PEM lib (_ssl.c:2699)

[2017-04-29 03:46] shigmas commented on #397
If you're talking about JWT authorization tokens, then no. This library depends on apns2, which doesn't support it. I've submitted a PR on that library, and then I'll submit a PR here. So, it's in the foreseeable...ish future.

[2017-05-04 20:35] chrisballinger commented on #396
Shouldn't `setdefault` only set a value if one isn't present? I am having trouble getting the sandbox setting to work myself after updating to 1.5.0.

[2017-05-04 20:54] cketant commented on #396
@chrisballinger I overlooked that, that is true. Not exactly sure then why it is being ignored. My workaround was simply to make sure `DEBUG=True`.

[2017-05-04 21:00] chrisballinger commented on #396
I did some more debugging and am not having trouble with the setting itself, but can't seem to get sandboxed notifications anymore. Perhaps my latest debug provisioning profile is wrong, cause I know the cert is valid and worked previously.

[2017-05-04 21:52] jleclanche commented on #396
@kit-cat any idea? was it reimplemented with pyapns2?

[2017-05-04 22:04] kit-cat commented on #396
Sorry for not answering earlier, didn't see the notification - I'll have a look at this tomorrow!

[2017-05-04 23:49] chrisballinger commented on #396
So I've determined that my issue wasn't from the sandbox setting, but from `MissingTopic` being returned in the `result` array. Perhaps the topic isn't being auto-guessed from the cert like it says in the docs?

[code]

[2017-05-04 23:50] chrisballinger commented on #396
Would it make sense to collect other "result" values and make them available further up the stack to handle errors like this in application code?

[2017-05-05 00:08] chrisballinger opened #398 "APNS code should check result for "Success" and propagate errors"
In the below code the function `_apns_send` returns a dict of the token(s) and return value. It appears from my debugging session that the following are possible return values:

* `Success`
* `MissingTopic`
* `Unregistered`
* and more?

Right now the library only checks for `Unregistered` tokens but doesn't provide feedback for other types of APNS errors. I propose exposing these errors further up

[2017-05-05 00:57] Tamarabyte opened #399 "SSL: TLSV1_ALERT_INTERNAL_ERROR when connecting to APNS"
My servers APNS notifications recently stopped working and after debugging I found that the SSL python library is throwing the following error when opening a socket:

      File "/home/tam/repos/rest/api/tasks/notification_tasks.py", line 17, in apns_socket
    self._apns_socket = apns.open_apns_socket()
      File "/home/tam/repos/rest/api/utilities/apns.py", line 64, in open_apns_socket
    retu

[2017-05-05 02:28] chrisballinger commented on #399
I've seen this before. Even though it's not expired, try regenerating your cert anyway.

[2017-05-05 13:00] kit-cat commented on #396
There is indeed a mistake in the docs - `topic` is mandatory in PyAPNS2 as they always add the `apns-topic` header, it isn't guessed from the cert file (see https://github.com/Pr0Ger/PyAPNs2/issues/29). I've made a pull request to edit the docs to reflect this.
I guess you've opened https://github.com/jleclanche/django-push-notifications/issues/398 for your second question?

[2017-05-05 13:03] kit-cat commented on #398
Return values of _apns_send can be "Success" or any of these errors:
https://github.com/jleclanche/django-push-notifications/blob/master/push_notifications/apns_errors.py

What kind of error exposing would be most useful for you?

[2017-05-05 17:21] chrisballinger commented on #398
I'm not sure exactly what would fit best without breaking the existing API, but I was having trouble understanding why my requests weren't working and the only way to figure it out was to pause in the debugger and inspect the return values.

Although `apns_send_bulk_message` returns results, the code I copied above actually contains some modifications to capture and return the result in `apns_send

[2017-05-05 19:12] Tamarabyte commented on #399
Hey Chris! Thanks for insight! my APNS cert or SSL one?

[2017-05-05 19:14] chrisballinger commented on #399
APNS cert

[2017-05-05 21:08] Tamarabyte commented on #399
Worked perfectly. Thanks a bunch for deciphering that cryptic error.

[2017-05-13 13:06] vrgimael commented on #397
@cesarbecerra how did you solve this problem? I'm stuck with the same thing now...

Thanks!

[2017-05-15 21:59] farice opened #402 "UPDATE_ON_DUPLICATE_REG_ID not taking effect"
I've set this value to `True` in my `Project/settings.py` file. However, I still get a validation error when a registration ID associated with another account is POSTed to `/device/apns/`.  If I manually delete the conflicting reg id instance from shell and send the same POST it works fine, so it's clear that the reg id conflict is the issue. Hence, `UPDATE_ON_DUPLICATE_REG_ID=True` seems to be th

[2017-05-18 21:53] #399 closed

[2017-05-20 15:08] alexislg2 opened #404 "weird KeyError when sending APN message"
I have this weird issue. here is what I am doing:
`
device.send_message("test")`

And I get this error:

[code]

It seems that `exception_class` is equal to `<class 'apns2.errors.ConnectionFailed'>`

Any idea? Thanks

[2017-05-20 19:23] alexislg2 commented on #404
It was caused by expired certificate

[2017-05-20 19:23] #404 closed

[2017-05-23 02:18] jamaalscarlett commented on #402
@farice Are you setting UPDATE_ON_DUPLICATE_REG_ID to True in the PUSH_NOTIFICATIONS_SETTINGS dict in settings.py?  If not, that would explain why the setting is being ignored.

[2017-05-30 18:16] jamaalscarlett commented on #402
@farice bump

[2017-05-31 17:51] farice commented on #402
You are correct! Sorry for the late response. @jamaalscarlett

[2017-05-31 17:51] #402 closed

[2017-06-05 12:02] sohamnavadiya opened #407 "error: [Errno 110] Connection timed out"
I am getting below error stack for iOS push notification. android application is working fine.

Django version: 1.9.12
django-push-notifications: 1.2.1

[code]

[2017-06-06 16:06] Antwan86 commented on #393
If the child models are strictly identical, Django won't create additional multi-table inheritance, and there won't be additional JOIN calls when using *polymorphic*.
The performance will be exactly the same than the solution you proposed, the type being stored in the `polymorphic_ctype_id` column.

But anyway, I agree avoiding external dependencies is good, I just think keeping separate models is

[2017-06-09 14:32] Archideus opened #408 "hyper.http20.exceptions.StreamResetError: Stream forcefully closed"
APNs max_concurrent_streams too high (4294967297), resorting to default maximum (1000)
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/usr/local/lib/python3.5/site-packages/push_notifications/models.py", line 129, in send_message
    certfile=certfile, **kwargs
  File "/usr/local/lib/python3.5/site-packages/push_notifications/apns.py", line 137, in apns_send_bul

[2017-06-10 04:09] Arbaz-Hundekar opened #409 "How to send push notifications only to devices around a area say within 5km radius of given coordinaties?"

[2017-06-10 04:41] jamaalscarlett commented on #409
@Arbaz-Hundekar That would have to be handled by your Django app, not this library.

[2017-06-14 00:11] grokcode opened #410 "APNSServerError DeviceTokenNotForTopic when upgrading"
I recently upgraded django-push-notifications from 1.4.1 to 1.5.0, and added the new required `APNS_TOPIC` setting set to the bundle id. Everything is working fine for APNS devices created after the upgrade, but for devices created on 1.4.1, when attempting to send push notificiations to them, I am getting `APNSServerError DeviceTokenNotForTopic `.

Is there an upgrade path for those devices so I

[2017-06-15 18:01] gabn88 opened #411 "Dropped support for Django 1.8?"
Is there any reason to drop support Django 1.8? It is a LTS, meaning that it is in (production) use until (at least) april 2018...

see https://www.djangoproject.com/download/

[2017-06-15 18:05] jleclanche commented on #411
Well, just because it's supported upstream doesn't mean it has to be supported downstream :)

Django 1.8 is kinda ancient; if you want to keep using it, I think it's okay to use older versions of libraries. I highly recommend moving over to 1.11 which is also an LTS and is more likely to be supported a fairly long time.

[2017-06-15 18:05] #411 closed

[2017-06-15 18:13] gabn88 commented on #411
So what is the last release working under Django 1.8? I would recommend not dropping support until it is necessary (because of too much boilerplate). But of course it is your package, so you decide :)

[2017-06-15 19:19] jleclanche commented on #411
1.4.1. Knowing that there are other fairly high traffic django packages out there dropping support for 1.8 in favour of 1.11, I feel comfortable dropping it here (this library comparatively isnt that popular!)

[2017-06-15 21:04] Blquinn opened #412 "Initial migration error"
Upon installing this package, I get the following error.

`CommandError: Conflicting migrations detected; multiple leaf nodes in the migration graph: (0005_applicationid, 0002_auto_20150528_1115 in push_notifications).`

This can be fixed by uninstalling the package from pip, deleting the old source in site-packages and reinstalling. There appear to be two auto migrations in the directory. I've ne

[2017-06-16 02:59] andreyshipilov commented on #407
Can confirm, happens on my dev server too.

[2017-06-16 03:38] andreyshipilov commented on #396
Can confirm. Still a bug. For multiple apps config had to set `'USE_SANDBOX': True` per each one. This one works.

[2017-06-21 20:24] kit-cat commented on #410
Hello ! This was a mistake on our part, I made APNS_TOPIC optional again in https://github.com/jleclanche/django-push-notifications/pull/413 - this will let you not specify a topic again. I will let you know as soon as it's merged.

[2017-06-26 16:18] BuissonReda opened #414 "ImproperlyConfigured : push_notifications.conf.AppConfig requires the application_id be specified at all times."
Hello, when trying to send a push notification to an APNS device, I get this error. I tried to create a push notification settings file following this guide :
https://github.com/jleclanche/django-push-notifications/wiki/Multiple-Application-Support
But it says :
"Applications must be added to the PUSH_NOTIFICATIONS_SETTINGS["APPLICATIONS"] dictionary.
The dictionary key is the APPLICATION_ID"
Howe

[2017-06-26 18:45] martin-xia opened #415 "Not able to pass in APNsClient directly when sending messages"
Hey there, I am running to some security issue when using this.

So this sdk is calling APNsClient in apns2 to send messages, it has the ability to override the certificate path, cool enough. However, for production usage, I would like to have my pem file encrypted. So I would need the password parameter in the init() function of APNsClient to decrypt my pem file.

I think it will be much more fle

[2017-06-26 18:54] matthewh commented on #414
The application id is a string you make up. You can use different values and still talk to the same "app".

I usually append the platform to my app names: myapp-fcm, myapp-ios, etc.

I hope that helps.

[2017-06-27 12:58] BuissonReda commented on #414
I know that the application id is a string that I make up, but as I said it is unique because of the nature of my app (hybrid). I choose it once in a file, config.xml, and it is used in each platform (ios, android, windows phone...)

I would like to append my platform to my application id, but for example, for ios, I would have to re-create an application on the app store, create new certificates,

[2017-06-27 13:28] matthewh commented on #414
You do not need to recreate your application when you change the Django Push Notification <application_id>.

The application id used by Django Push Notifications in no way bound or tied to the various app store bundle/app identifiers. It is just a label used to group a configuration and a set of devices to a specific PUSH API. The API_KEY (fcm/gcm) or CERTIFICATE (APNS) values are the important pi

[2017-06-27 14:05] BuissonReda commented on #414
Ok, this is clear now. Thanks for your fast answers!

[2017-06-27 14:44] matthewh commented on #414
Happy to help. Good luck with your project.

[2017-06-27 14:44] #414 closed

[2017-06-29 19:21] cesarbecerra commented on #397
@vrgimael you need to upgrade your OPENSSL library with BREW and then you need to link it to python

[2017-06-30 15:32] #409 closed

[2017-07-03 21:03] shigmas commented on #415
That might be overkill. @kit-cat has a PR which, among other things, pulls in an updated apns2. That has a credentials class. Is that class sufficient for your needs? You can create a subclass.

[2017-07-05 03:11] gabreho commented on #332
@royge I'm having the same issue, how did you solve it?

[2017-07-09 20:57] jamaalscarlett commented on #397
@cesarbecerra is your issue resolved?  Can we close out this issue?

[2017-07-14 20:14] Alir3z4 opened #416 "Getting BadDeviceToken on remote server but works on local machine"
I've configured my project for APNS.
The notification goes to the iPhone device with the device `registration_id` on the local machine, but when I try to do the same thing on remote server it will give this error in the admin panel (using "send test message from admin actions"): `Some messages could not be processed: 'BadDeviceToken'`, when trying to the same on the server shell (`./manage.py shel

[2017-07-18 13:02] matthewh commented on #416
Hello @Alir3z4

I have encountered an issue very similar to what you describe when I have DEBUG=True on my local machine with the apple sandbox configured and DEBUG=False on the production server against the production apns api. In my situation we had to ensure the correct APNS cert and TOPIC were set in each environment and the device had the correct token registered.

[2017-07-18 16:56] kit-cat commented on #410
Hello! Can you please upgrade to master and try sending messages without APNS_TOPIC settings? It should work again, I just merged the _APNS_TOPIC not mandatory anymore_ PR

[2017-07-24 03:02] royge commented on #332
@gabreho I instead send the message individually rather than in bulk because if there is an inactive device  in the batch all other active are affected by the error. That is my cheap work-around :).

[2017-07-26 12:59] alexche8 commented on #391
Any changes on this? Can't send push notifications from admin page while use android, but ios is ok.

[2017-07-27 05:20] michaelluk commented on #416
@Alir3z4 Does your Django project remain DEBUG=True and your app built in release mode?
I was having same error. I fix it by adding APNS_USE_SANDBOX = False in settings.

[2017-07-27 13:15] Alir3z4 commented on #416
I had `DEBUG=False` in both production and staging environment of the app, however it was `DEBUG=True` in development for sure.

I had the Topic set correctly as well, but that didn't work as well, tried many different settings but I wasn't able to get it working.

At the end we decided to get to Pusher.com for this, however I really wanted to get notifications working with Django Push Notificatio

[2017-07-31 15:31] badstorm opened #418 "Invalid input ConnectionInputs.SEND_HEADERS in state ConnectionState.CLOSED"
Hi,
trying to send push notification in iOS I get this error:

`Invalid input ConnectionInputs.SEND_HEADERS in state ConnectionState.CLOSED`
on file: site-packages/h2/connection.py in process_input, line 246

What can I do?

Thanks

[2017-08-04 02:55] jondanao opened #419 "URLError at /admin/push_notifications/gcmdevice/"
Sending push notification to iOS has been successful. But I get this error when sending test message to Android.

The error seems to be happening in `gcm.py`.

**settings.py**
[code]

**Error**
[code]

Did I miss anything in the setup? Thanks!

[2017-08-04 11:31] jamaalscarlett commented on #419
@jondanao What is FCM_POST_URL set to?

[2017-08-04 13:02] jondanao commented on #419
hi @jamaalscarlett `https://fcm.googleapis.com/fcm/send`

I created a new django project, installed this package and did all the same setup as the project mentioned here. It worked.

So I uninstalled and installed again this package to the existing project. But error still persists. I'm lost. I can't pinpoint if it clashes with other installed packages. Here's my requirements.txt:

[code]

[2017-08-05 19:55] osmarcedron commented on #290
I was having the same problem but I added the registration_id (it's an ID generated by the FCM SDK for each client app instance) when you create the GCMDevice and now it works!

[2017-08-06 04:23] jamaalscarlett commented on #419
"No route to host"  That sounds like a networking issue.  Can you ping the fcm endpoint from the server?  Does a curl command from the server work?

[2017-08-06 17:33] jondanao commented on #419
@jamaalscarlett : sure is a networking issue. On my local machine, I get this error, but when I execute this on AWS, it does work just fine. Can't really figure out what's causing the error.

This error has nothing to do with this library.

[2017-08-06 17:33] #419 closed

[2017-08-07 14:09] sorter opened #420 "AttributeError: 'unicode' object has no attribute 'create_connection'"
Hello,

I've been using django-push-notifications without issue for some time now without configuration change. Recently upgraded libraries and now I'm getting this error without any configuration change.

[code]

Has anyone else run into this issue?

[2017-08-08 15:17] zixan commented on #416
@Alir3z4

Is your device token from the debug build or release build? Make sure the environments are synchronized.

[2017-08-09 07:41] jorrit-wehelp opened #421 "Django 1.8?"
Any specific reason why support for Django 1.8 was dropped?
It's still in LTS/'extended support'. "Until at least April 2018".
So people still have 8 month to upgrade to 1.11...

[2017-08-09 07:50] jleclanche commented on #421
You can use Django-Push-Notifications 1.4 if you're still on Django 1.8. No harm done.

[2017-08-09 07:50] #421 closed

[2017-08-11 20:23] raminf commented on #416
I'm having same issue. It works on local machine (Mac OS Sierra) but doesn't work from remote instance on AWS EC2 (Ubuntu). Checked all the ports on EC2 and regenerated the certs multiple times. Still doesn't work.

In both cases DEBUG=True, APNS_USE_SANDBOX=True and topic set to app bundle-ID. Same settings on both systems using the development push certificate.  Not getting any errors. It just s

[2017-08-16 11:20] jamaalscarlett commented on #391
@tyapkov @aleksihakli Can you verify that is is fixed in the master branch?

[2017-08-17 00:42] Kiirojin commented on #420
Confirmed running into same issue. Happens on 1.5.0 and not 1.4.1.

[2017-08-23 03:27] jamaalscarlett commented on #391
@alexche8 can you test this against the master branch?

[2017-08-23 03:31] jamaalscarlett commented on #354
@tasn can you try the master branch?

[2017-08-23 12:33] Kianoosh76 commented on #408
+1
The internal implementation for APNS was working as well, but when I've upgraded the package this error raises every time!

[2017-08-23 16:13] jamaalscarlett commented on #420
@matthewh @kit-cat I see a lot of apns related issues related to 1.5.0.  Has there been some upgrade to apns2 that has broken functionality in this package?

[2017-08-23 16:13] #354 closed

[2017-08-23 16:18] jamaalscarlett commented on #382
Addressed by https://github.com/jleclanche/django-push-notifications/commit/e11cdee65e3adbfc1512d9d0802250c349b0af5b

[2017-08-23 16:18] #382 closed

[2017-08-23 16:29] jamaalscarlett commented on #392
@tyapkov If you are receiving the success message, the problem is not with this package.  The success message means that the request was received by the GCM/FCM server.  That you did not receive the message on the device could be for any number of reasons.  FCM allows you to send messages directly from the console.  I would make sure that that works first.

[2017-08-23 16:29] #392 closed

[2017-08-23 16:30] jamaalscarlett commented on #332
@royge when you attempt to send in bulk, do you receive an error message?

[2017-08-23 16:31] #391 closed

[2017-08-24 13:00] royge commented on #332
@jamaalscarlett unfortunately, there is not error message return from apns. BTW, I'm using an old version(1.2.1) for some reasons I don't have control :). I haven't tested though if this exists in the latest stable version.

[2017-08-25 23:27] smaccona commented on #298
@manish001in @jleclanche there are a couple of workarounds here:

1. It is possible to support large indexes of up to 3072 bytes in MySQL by doing all of the following:
    - use the Barracuda file format by setting `innodb_file_format` to `Barracuda` (instead of the default Antelope)
    - use a row format of `ROW_FORMAT=DYNAMIC` or `ROW_FORMAT=COMPRESSED`
    - set the server option `innodb_larg

[2017-09-01 23:55] jaspindersingh83 opened #422 "How to get registration_id of google chrome device? Any tutorial out there.."

[2017-09-01 23:56] jaspindersingh83 commented on #422
I am struck at providing registration_id of various users in Django admin panel

[2017-09-02 16:44] jamaalscarlett commented on #422
When you say Google Chrome device, are you referring to a browser?  Or an Android device?

[2017-09-02 17:39] jaspindersingh83 commented on #422
Referring to a browser

[2017-09-02 17:41] jamaalscarlett commented on #422
I'm not sure, but a device id is not needed to use this package.

[2017-09-02 17:43] jaspindersingh83 commented on #422
its mentioned in the README that registration_id is a required field

registration_id (required): The FCM/GCM registration id or the APNS token for the device.

[2017-09-03 02:21] jamaalscarlett commented on #422
That depends on how you implement webpush.  That is handled client side, this is a server side package.

[2017-09-03 02:21] #422 closed

[2017-09-03 02:31] jamaalscarlett commented on #343
See #360

[2017-09-03 02:31] #343 closed

[2017-09-05 13:40] aleksihakli commented on #391
Sorry for the late reply @jamaalscarlett. I'd need a new release to verify this on our project but the fix code seems good to me :) Thanks for the fix!

[2017-09-08 22:44] Kiirojin commented on #420
This is just because the APNsClient call on apns2 doesn't support unicode strings for whatever reason. Calling .encode('utf-8') the string passed into the APNsClient call fixes the issue.

[2017-09-10 03:53] lengzuo opened #423 "'function' object has no attribute 'create_connection'"

[2017-09-10 03:56] lengzuo commented on #423
Hello all,

I running into an issue when using this library.
[code]

[2017-09-13 00:33] bukosabino opened #424 "APNSServerError: TopicDisallowed"
Hi everybody,

I get this error when I send notifications:

APNSServerError: TopicDisallowed

I test my token and my certificate in this web http://apns-gcm.bryantan.info and they are ok!

My actual configuration:

PUSH_NOTIFICATIONS_SETTINGS = {
    "FCM_API_KEY": os.environ.get('FIREBASE_API_KEY'),
    "FCM_ERROR_TIMEOUT": 1800,
    "APNS_CERTIFICATE": os.path.join(BASE_DIR, "ios_development.cer

[2017-10-02 20:48] jksimoniii commented on #408
+1

Using v1.5.0

[2017-10-06 13:33] sorter opened #427 "Valid timeout values."
Hello,

In recent stable versions of django-push-notifications I see this error in logs:

    Set PUSH_NOTIFICATIONS_SETTINGS["GCM_ERROR_TIMEOUT"] to send messages through GCM.

However, there appears to be no documentation on what value is expected? Seconds? Milliseconds? Some combing through the source seems to imply that this value is passed to urllib.urlopen(...) and that function appears to e

[2017-10-08 12:46] Kianoosh76 commented on #408
I've opened an [issue](https://github.com/Pr0Ger/PyAPNs2/issues/53) in the source package page and now the problem is fixed!

[2017-10-11 21:22] ezheidtmann opened #429 "Support for `apns-collapsed-id`"
It appears that this package does not support the APNS feature `apns-collapse-id`. The apns2 library includes support as a kwarg to `send_notification` or `send_notification_batch` but that kwarg cannot be set via this package's `_apns_send()`.

I don't have a fix available, just documenting that this feature appears to be missing. Thanks.

[2017-10-11 21:36] ezheidtmann commented on #429
Whoops, I was looking at the wrong client library. Updated issue description.

[2017-10-17 16:19] goinnn commented on #335
@alexbarcelo @jamaalscarlett I want to do this feature. I am going to do a pull request with  WebPushDevice feature. If you have pywebpush installed.

I have been doing several tests and now I can send push to Chrome or Firefox without problems.

And of course I write a documentation. There  is very little documentation about it. And very very bad and confused.

[2017-10-18 04:58] jamaalscarlett commented on #335
@goinnn go for it.

[2017-10-18 08:52] rocchidavide opened #431 "application_id: what is it? No docs"
I can't understand what is application_id, the documentation not mention it

[2017-10-18 09:22] rocchidavide opened #432 "Some messages could not be processed: 'MissingTopic'"
Trying to send a test notification I obtain:

`Some messages could not be processed: 'MissingTopic'`

Application id is empty. The only setting I set is APNS_CERTIFICATE.

django-push-notifications 1.5.0
Django 1.11.6
DRF 3.4.6

[2017-10-18 14:05] matthewh commented on #431
@rocchidavide I'm not sure why it isn't mentioned in the README but it is covered in [Multiple-Application-Support](https://github.com/jleclanche/django-push-notifications/wiki/Multiple-Application-Support).

[2017-10-18 14:14] matthewh commented on #432
@rocchidavide DPNS is designed to support a single "application" unless you enable [Multiple-Application-Support](https://github.com/jleclanche/django-push-notifications/wiki/Multiple-Application-Support). It is OK for application_id to be empty in this case because DPNS will default to the only one available. It sounds like you need to add **APNS_TOPIC** to your configuration.

[2017-10-19 14:57] gabn88 opened #433 "Device ID does not accept Apple devices (iPhone for example)"
The FCM deviceID now only accepts Android devices. This, while it is certainly possible to send push notifications to Apple devices using Google's FCM service.

I know it is possible to leave this field empty, but 1. it took me some time to find out why push notifications weren't working on iOS and 2. There is not good reason to only accept Android Device IDs.

[2017-10-20 02:43] jamaalscarlett commented on #433
When FCM was added, I believe it was as an update to GCM which will be phased out at some point.  But you are correct, FCM does allow for push notifcations to be sent to IOS devices.  Feel free to submit a pull request :)

[2017-10-21 03:50] jamaalscarlett commented on #433
This may be fixed by https://github.com/jleclanche/django-push-notifications/pull/386

[2017-10-21 06:26] theromis opened #435 "PIP package latest version"
I need FCM notifications in my project, unfortunately 1.4.1 still doesn't have it.

I'm using fpm utility to build packages for my production.

`.gem/ruby/2.3.0/bin/fpm --python-pip /usr/bin/pip -fs python -t deb --no-python-downcase-name -p /tmp/out django-push-notifications`
this command runs `pip` with `--no-binary :all:` flag.
So I don't know why pip pulls out 1.4.1 version
[code]

is it possi

[2017-10-21 11:12] matthewh commented on #433
Issue #386 needs more testing to determine how it behaves with existing data. I am particularly concerned with how drf api calls would translate old ids. It may be hard to preserve backwards compatibility here.

[2017-10-23 13:41] gabn88 commented on #433
Backwards compatibility? I would say, just make a CharField of it. Of course it would be cool to validate against both the spec of Android and Apple, but I cannot find a hard spec on the device id for both? Validation is also possible on a CharField and at least this is forward compatible, which a UUID field probably is not (if it is even compatible with all existing device IDs).

[2017-10-23 20:30] matthewh commented on #433
I don't disagree with you @gabn88 but @jleclanche has generally disapproved of converting the Device ID field to a CharField. If he gives his blessing I'll make the adjustment.

[2017-10-23 22:15] jleclanche commented on #433
Go for it.

[2017-10-26 21:32] phiberjenz commented on #287
+1

[2017-10-27 19:25] jksimoniii opened #436 "'application_id' on GCMDeviceSerializer"
https://github.com/jleclanche/django-push-notifications/commit/78586d383816261a940227516244c5f750a07bb6 addresses this issue and has been merged into master (https://github.com/jleclanche/django-push-notifications/pull/401).  When will this be built and included in the latest pip package?

[2017-10-27 19:33] jksimoniii commented on #436
Also, it does not look like this will be available in https://github.com/jleclanche/django-push-notifications/releases/tag/1.5.0

[2017-10-28 13:10] jleclanche commented on #436
I'm about to be unavailable for 3 weeks but I can make a new release when I get back.

[2017-10-28 13:12] jleclanche commented on #435
Run `pip install --upgrade pip setuptools wheel` in a fresh virtualenv before installing this. I've made the conscious decision of not supporting ancient versions of those and that's probably what you're hitting.

[2017-10-28 13:12] #435 closed

[2017-10-28 13:13] jleclanche commented on #287
We have abstract models for this now I believe it can just be implemented in-app, right @jamaalscarlett ?

[2017-10-28 15:54] jamaalscarlett commented on #287
It could be done in-app by inheriting from the Device class.

[2017-10-28 15:55] jamaalscarlett commented on #287
But you would lose the DRF support.

[2017-10-31 20:21] mbhaskar commented on #424
APNS_USE_SANDBOX should be set to True if in dev
I got the the same error when APNS_TOPIC did not match exactly the app bundle id

[2017-10-31 22:19] theromis commented on #435
@jleclanche thank you, this solution works

[2017-11-01 09:28] carn1x commented on #420
Confirmed, fixed by forcefully sending a bytestring for the certificath path `b'/path/to/file.pem'`

[2017-11-16 11:12] uber1geek commented on #433
Has this been fixed , I was thinking to use this app for implementing push notifications for our ios and android apps via fcm with a django backend.  Please advise.

[2017-11-16 12:27] gabn88 commented on #433
Just go for this module and leave the deviceID field empty on ios for now.

[2017-11-22 05:52] mattimck commented on #418
I'm also experiencing this problem - did you find a way to resolve it @badstorm?

[2017-11-27 11:14] uber1geek opened #439 "Multiple Devices per user"

[2017-11-28 10:20] #439 closed

[2017-11-28 11:18] uber1geek opened #440 "[Issue] Module saves id of user instead of username"
I have a custom user model, however, when i register a device, the fcm-django model registers the id column of the related username or (partner_id in my case) to the user_id column.

I want the user_id column to have username from the users table and not the id of the particular username row

I have attached screenshots of the tables, how can i fix this? I need to send push notifications to a part

[2017-11-28 16:48] jamaalscarlett commented on #440
@uber1geek
The user column is a foreign key, the value stored is the id reference to your user table.  To get the devices using the partner_id from your user table try:
[code]

[2017-11-29 07:18] uber1geek commented on #440
@jamaalscarlett  Thanks, I didn't think of that before.
I was doing `client = User.objects.get(partner_id=self.request.user.username)` and `devices = GCMDevice.objects.filter(user_id=client.id)` which worked but the way you suggested looks better.

Thanks :)

[2017-11-29 09:00] uber1geek commented on #440
@jamaalscarlett  How do we decide when the device is inactive? Does it depend on `FCM_ERROR_TIMEOUT`? What would be an ideal error timeout in your opinion?

[2017-12-01 06:17] aemdy commented on #416
Exactly the same issue here as well! Waiting for help.

[2017-12-01 14:44] Yungbubu opened #441 "django-push-notifications forces me to use Django 1.11.7"
Hi All,

I'm having trouble installing this package.

When I do:

`pip install django-push-notifications`

pip automatically uninstall my Django version (1.9.5) and installs Django 1.11.7 which obviously I don't want.

I then reinstalled Django 1.9.5 and ended up with this error:

`pkg_resources.ContextualVersionConflict: (Django 1.9.5 (/Users/John/anaconda/lib/python3.5/site-packages), Requiremen

[2017-12-01 14:47] jleclanche commented on #441
The latest version of DPN is not compatible with Django <1.10:

https://github.com/django-push-notifications/django-push-notifications/blob/master/setup.cfg#L29

I recommend you upgrade to 1.11. The path from 1.9 is very easy and it's a LTS.

Compatibility with previous versions will not be restored, so I'm closing this. Hope this helps.

[2017-12-01 14:47] #441 closed

[2017-12-01 14:50] Yungbubu commented on #441
I'm not trying to use Django <1.10

I want to use Django 1.9.5 or 1.9.

I think you misread my message ^^

[2017-12-01 15:06] jleclanche commented on #441
1.9 is older than 1.10...

[2017-12-01 15:14] Yungbubu commented on #441
Owww  got it now ^^. I'm sorry I was really confused about the version numbers.

[2017-12-01 16:27] jamaalscarlett commented on #440
@uber1geek There is an active flag on the device model.

[2017-12-06 04:38] FahadAlbukhari commented on #416
raise APNSServerError(status=reason_for_exception_class(apns2_exception.__class__))
push_notifications.apns.APNSServerError: BadDeviceToken

Exactly the same issue here as well! Anything yet???.

[2017-12-08 06:49] adrianmoisey commented on #216
Does anyone know the conclusion of this issue?
I'm getting issues with multiple reg_ids in GCM devices

[2017-12-09 12:25] umair151 commented on #408
Facing the same error, what was the solution?

[2017-12-11 02:36] theromis opened #442 "registration_id uniqueness?"
constantly getting APNS errors
[code]
with update turned on
    'UPDATE_ON_DUPLICATE_REG_ID': True,

I think it because of unique=True
is it possible to get rid of uniqueness or fix this issue other way?
[code]

[2017-12-15 22:57] #397 closed

[2017-12-22 15:42] ShipraShalini opened #443 "Index on `registration_id`"
Since `lookup_field` for `DeviceViewSetMixin`  is `registration_id`, shouldn't `registration_id` be indexed?

[2017-12-25 08:43] aemdy opened #444 "Bulk `send_message` sends as many push notifications to each device as many devices are filtered"
My story: I implemented a custom django admin action to be able to select devices you wish to send push notifications to. Result - each device received lots of push notifications :(

After investigating the issue I found out that the problem is here https://github.com/django-push-notifications/django-push-notifications/blob/master/push_notifications/models.py#L123 (probably it applies to GCM as we

[2017-12-26 08:28] roshanr95 commented on #429
Any updates on this?

[2017-12-26 18:28] ezheidtmann commented on #429
@roshanr95 The PR is working for me in production. If you can run the tests & review my work, that could help get it included in a future release. Thanks.

[2018-01-01 08:53] aemdy commented on #444
Any attention here? It looks like a quite high priority issue. If you are using multiple applications, you may spam your users easily.

[2018-01-07 13:44] Alexx-G commented on #415
+1 for this.
In my use case, I'm passing in extra a data structure which can't be serialized by apns2.
APNSClient from apns2, allows to pass a custom JSON encoder, however I can't do this using this package (monkey patching doesn't count).
So it would be nice to pass somehow either custom kwargs or custom client.

[2018-01-09 10:47] uber1geek commented on #427
+ 1 What would be an ideal value for the timeout ?

[2018-01-11 15:15] RoystonDmello opened #446 "Compatibility issue with Django 2.0"
user.is_authenticated() does not work with Django 2.0

[2018-01-12 12:04] #335 closed

[2018-01-12 13:55] odinuge commented on #446
Hi,

This is fixed in #445. Should be a part of the next release.

[2018-01-12 15:26] #446 closed

[2018-01-15 23:06] martin-xia commented on #408
Got the same problem "Stream forcefully closed" here, using production cert and the following settings:

PUSH_NOTIFICATIONS_SETTINGS = {
    "APNS_TOPIC": Bundle id,
    "UPDATE_ON_DUPLICATE_REG_ID": True,
    "APNS_USE_SANDBOX": False
}

And I'm passing the production cert file when calling send_message.

[2018-01-15 23:10] martin-xia opened #447 "Stream forcefully closed when calling registration_id.send_message"
Got the problem "Stream forcefully closed", using production cert and the following settings:

PUSH_NOTIFICATIONS_SETTINGS = {
"APNS_TOPIC": Bundle id,
"UPDATE_ON_DUPLICATE_REG_ID": True,
"APNS_USE_SANDBOX": False
}

And I'm passing the production cert file when calling send_message. Anyone know what i'm missing here? Thx

[2018-01-16 01:25] martin-xia commented on #408
Fixed, turns out something is wrong with the generated production cert's subject

[2018-01-16 01:25] martin-xia commented on #447
Fixed, turns out something is wrong with the generated production cert's subject

[2018-01-16 01:25] #447 closed

[2018-01-22 10:35] gunjanmodi commented on #407
You should check if TCP port 2195 is opened or not.

[2018-01-29 14:32] sslash opened #451 "Plan to release new version?"
Now that support for Django 2.0 is in, it would be nice to release a new version?

[2018-01-30 09:25] matt-dalton commented on #451
+1

[2018-01-30 15:28] fmoga commented on #451
+1

[2018-01-30 17:59] anderskravis commented on #451
+1

[2018-01-30 18:04] matt-dalton commented on #446
Any timeframe on when we can expect the release? We are currently pretty stuck until this comes out. Thanks!

[2018-01-31 08:44] goinnn commented on #442
I want the opposite thing. I want unique=True in the other registration_id fields, models: GCMDevice, WNSDevice and WebPushDevice. Now it is the worst case, one of a way and rest of another way.

I think it can be configurable by settings. @jleclanche, @jamaalscarlett if we define it, I can do a pull request.

[2018-01-31 12:39] matthewh commented on #442
The unique=True should be removed from the registration id. It causes more problems than it solves. We need to provide documentation for subclassing the models for those who desire unique=True across all models. Using a setting for this is not advisable. We miss out on database integrity if it is exposed as a setting or we would generate a migration each time the setting was changed.

[2018-01-31 19:00] jleclanche commented on #451
I'll do a new release tonight.

[2018-01-31 20:09] jleclanche commented on #451
1.6.0 out!

[2018-01-31 20:09] #451 closed

[2018-02-02 10:38] ko1es commented on #442
If you remove unique flag from registration_id field, extra validations inside serializers supposed to be made...otherwise your Device model will be full of non usable data.

[2018-02-03 21:03] jleclanche commented on #442
@matthewh go ahead and drop uniqueness if you think it's more troublesome than worth.

[2018-02-03 21:04] jleclanche commented on #446
@matt-dalton the latest version was released a couple of days ago.

[2018-02-03 21:23] jleclanche commented on #444
@aemdy Sorry for the lack of answer, please feel free to file a PR to fix this.

[2018-02-09 19:17] matthewh commented on #442
Let me get a PR together. My forked version has been humming along with it turned off for about 2 years :)

[2018-02-10 08:50] #436 closed

[2018-02-10 08:51] #432 closed

[2018-02-10 08:53] jleclanche commented on #344
We since switched to pyapns which means this probably either doesn't happen anymore, or if it does, it's an upstream issue.

[2018-02-10 08:53] #344 closed

[2018-02-10 08:54] jleclanche commented on #159
We since switched to pyapns which means this probably either doesn't happen anymore, or if it does, it's an upstream issue.

[2018-02-10 08:54] #159 closed

[2018-02-13 07:43] akamanzi opened #452 "HTTPError: HTTP Error 401: The request's Authentication (Server-) Key contained an invalid or malformed FCM-Token (a.k.a . IID-Token)"
I am getting the above error, I am not sure but i think its something related to authorisation with Firebase. I tried different options and search to no success. does anyone know how to deal with this.

I got this error while trying to send a message using GCMDevice `device.send_message`.
Any help is highly appreciated

[2018-02-15 20:59] pzanitti commented on #442
Care to elaborate?

[2018-02-16 02:42] matthewh commented on #442
@pzanitti Enforcing unique=True makes assumptions about multiple users sharing the same device. Out of the box the DPNS DRF API grants the registration_id to the first user who registers it. The DPNS DRF API will raise an exception, _APNS device with Registration ID already exists_, if another user tries to register their account (with push service) on the same device.

I've had to debug this scen

[2018-02-16 12:20] jleclanche commented on #442
For context, a lot of the design decisions in DPN were made at a time where:

- I was far less knowledgeable on both Django and database design
- I was just scratching a project together that needed APNS and GCM support

In other words, I won't need much convincing if real-world usage of DPN proves to need some structural changes.

[2018-02-22 13:05] mhsiddiqui commented on #420
I am getting this error in 1.6 version. Is it not fixed yet?

[2018-02-22 14:03] mhsiddiqui opened #454 "AttributeError: 'unicode' object has no attribute 'create_connection' in 1.6"
I was using django-push-notifications==1.4.1 and it was working fine. But when I upgraded it on 1.6, I start getting following error.

[code]

[2018-02-22 14:50] matthewh commented on #420
@mhsiddiqui No changes have to made to the codebase for this issue. Did you try the workarounds suggested by @Kiirojin or @carn1x?

[2018-02-22 14:56] matthewh commented on #454
Second report of #420.

[2018-02-23 05:42] mhsiddiqui commented on #420
I converted my apns token path to string in my settings.py file (which was unicode before this) and the error then I got is "APNSServerError: BadDeviceToken". I think this is expected behaviour. I was not getting this error when token has expired in 1.4.1 version. I think I had to put a try catch statement now.

[2018-02-25 23:01] IanGleeson opened #455 "New Apple .p8 apns cert support?"
Is it possible to add support for apples .p8 apns format? I've tried using it but received a InvalidApnsCredential error.

They're much easier to work with than .pem

[2018-03-10 08:31] arikgelman opened #456 "How do I register a device via template"
Hi,

After installing and setting the keys in the settings.py file, How do I register a device via the HTML template?

Thanks,
Arik

[2018-03-10 13:19] jamaalscarlett commented on #456
@arikgelman I'm not sure what you mean by template, as this package does not include a template.  It is a standard Django app, so you register a device by creating an instance of the appropriate device model.

[2018-03-10 14:40] jamaalscarlett commented on #452
@akamanzi Are you using the correct api key?  Are you able to send messages to the device using the firebase console?

[2018-03-10 18:50] akamanzi commented on #452
@jamaalscarlett Yes, i used the correct API key and the notification is sent on firebase console. Am not sure what the issue is

[2018-03-11 02:41] jamaalscarlett commented on #452
If you are seeing the error when using the firebase console, the problem is not with this package.  Perhaps the device's registration id is incorrect

[2018-03-16 16:17] rskwan opened #457 "WebPushError not being raised correctly"
When a WebPushException `e` is raised after trying to send a push using pywebpush, the error handling in `push_notifications.webpush` tries to read `e.message`, even though it may not exist. This doesn't break anything that isn't already broken, but does produce unnecessary errors.

[code]

[2018-03-16 16:29] alexislg2 commented on #216
Same issue here also. Quite annoying. Any idea?

[2018-03-20 06:47] elcolie opened #459 "Dead link in README.md"
Apple doc is dead https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/ApplePushService.html

[2018-03-23 14:32] rahul6612 opened #460 "best way to impliment django notification system in my app"
i created a app where peoples can like/unlike posts they can follow/unfollow  to each other and my question is:
1. when **user A** like/unlike **user B** posts, **user B** get the notification (**user A** liked/unliked your post)
2. when **user A** follow **user B**,  **user B** get the notification(**user A** follow you)
3. i have no idea about it so which is the best way to implement it.
4. noti

[2018-03-23 14:48] jamaalscarlett commented on #460
This is a design question.  I'm not sure where it would go, but I don't think it belongs in the issues list.

[2018-04-02 10:41] elcolie opened #461 "How can I solve MismatchSenderId?"
[code]

In the `GCMDevice` I select
[code]

`requirements.txt`
django-push-notifications==1.6.0
django==2.0.3

It does not mention anywhere in the docs nor wiki
How can I solve MismatchSenderId?

[2018-04-02 14:28] kruglyjmax commented on #452
@akamanzi Hi, try new server key. [https://stackoverflow.com/a/37801206](https://stackoverflow.com/a/37801206) Helped for me.

[2018-04-02 15:57] jamaalscarlett commented on #461
Did the device register correctly from your client app?  If you log into the Firebase console, can you send a message directly to that device?

[2018-04-03 03:15] elcolie commented on #461
@jamaalscarlett Thank you for you response.

I can send a message directly to the device. Then I assume my device register correctly.

[2018-04-03 04:19] elcolie commented on #461
[code]
@jamaalscarlett I was on my side. My colleague gave me wrong `API_KEY`!
This application is good 👍

[2018-04-03 04:19] #461 closed

[2018-04-04 10:15] elcolie opened #462 "FCM does not support extra argument?"
django-push-notifications==1.6.0
django==2.0.4

I am using FCM. Because it can handle both Android&iOS
[code]
My device is iOS10.3.3 receives only `wow` message. `extra` json does not.

If this is normal behavior. The document must be updated by now.

[2018-04-04 11:12] elcolie commented on #462
My bad. The pop up does shows ONLY `message`. `extra` json is in there but does not show up.

[2018-04-04 11:12] #462 closed

[2018-04-11 14:02] jamaalscarlett opened #463 "Deprecate GCM"
I received this message from Google:

The GCM settings should be deprecated

[2018-04-20 08:39] alemangui commented on #429
Will this fix be included in an upcoming release? Would be very useful

[2018-05-01 19:54] mark-mishyn commented on #404
@alexislg2  Hello! I had the same error. What did you mean SSL certificate? My application server doesn't available over HTTPS (no certificate in use), but everything was fine until  April 4, 2018.

[2018-05-01 20:13] alexislg2 commented on #404
I don't remember but I think it was the APNS certificate

[2018-05-06 17:04] #460 closed

[2018-05-08 10:15] shiviser commented on #147
Although this [commit](https://github.com/jazzband/django-push-notifications/commit/0b663a7b93a9afac36654d18fa9c433b1430b301) fixes the type returned by HexIntegerField.db_type from `signed bigint` to `unsigned bigint` for mysql, django does not create any corresponding migration even when I run this -

`python manage.py makemigrations push_notifications`

Is this a django issue/limitation - that

[2018-05-11 15:21] SrdjanCosicPrica opened #464 "[Android] FCM Messages do not wake up screen/vibrate/play sound like firebase console"
Hi!

First off, thanks for this great library and support!

Second. When I send a message to FCM like so
[code]
,where `s` is a a user, the phone does not vibrate or wake up my screen when in locked mode. The message is there when i wake it up manually but nothing happens when it is actually received. The reason I think it is your library that is maybe missing something is because when I send it f

[2018-05-12 20:01] SrdjanCosicPrica commented on #464
I would like to but I am not quite sure how to do that. To get a precise comparison as possible. Do you know how? @jamaalscarlett

[2018-05-12 20:26] jamaalscarlett commented on #464
@SrdjanCosicPrica You need to add some debug logging to your Android app.

[2018-05-12 20:34] SrdjanCosicPrica commented on #464
@jamaalscarlett I will try to do a bit more but the thing is that my onMessageReceived is not even trigger when the app is in background/killed. Not even from the firebase console so I'm not quite sure how that is possible

[2018-05-14 07:31] SrdjanCosicPrica commented on #464
@jamaalscarlett Yeah you were right in suspecting that I was missing some keyword arguments. I was missing the `sound` kwarg, which defaults to 'disabled'. Setting it to 'enabled' woke it up. Thank you very much.

[2018-05-14 07:32] #464 closed

[2018-05-14 15:44] jamaalscarlett commented on #464
@SrdjanCosicPrica My pleasure.

[2018-05-20 14:51] Mhs-220 opened #465 "Multiple Application doesn't work"
Hey,
when i use a single cert like this:
[code]
the push work properly but i to have two application with this django site, so i change my setting to:
[code]
when i test it, i get BadDeviceToken but each of application work with single mode.. i set application_id properly and have a lot of test. what can i do?

[2018-05-21 04:18] Mhs-220 commented on #465
FIXED!!!

i just add ```python3 "USE_SANDBOX": True,``` in every application...

Tnx

[2018-06-04 15:11] alemangui opened #466 "How do I set a timeout for APNS?"
I noticed commit 3998996 delegates APNS calls to PyAPNS2, but it also removed the documentation for APNS_ERROR_TIMEOUT.

How can we set a timeout for APNS sockets?

[2018-06-08 12:33] dobrovolsky opened #467 "APNS: BadDeviceToken"
Hi there.
I got an issue with sending notification to ios.
I have production.pem file
but when i'm trying to send notification get error `BadDeviceToken`
When i use service like [pushtry](http://pushtry.com/) i get notification.
Maybe somebody knows what is going on?

[2018-06-08 13:19] #467 closed

[2018-06-20 09:33] tamaramalysh5991 opened #468 "ConnectionResetError in APNS push"
When I trying send push, raise ConnectionResetError
Settings:
[code]
It's a problem with sert?

[code]

[2018-07-18 10:54] AdamDonna commented on #459
Hey @elcolie would this [link's](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/index.html#//apple_ref/doc/uid/TP40008194) suggested be replacement, [this](https://developer.apple.com/documentation/usernotifications) be sufficient. Or are you suggesting removing the link?

[2018-07-18 16:02] elcolie commented on #459
In my opinion. Removing will cut off the future document problem.

[2018-07-27 04:53] kirtan73 opened #469 "APNS Message Sending in 1.6.0"
I have followed the steps as per given in documentation of version 1.4.0 and tried for 1.6.0 to send a notification but giving this error cannot understand what is it?

Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/home/aubergine/Desktop/final_fcm/fcm_env/local/lib/python2.7/site-packages/push_notifications/models.py", line 167, in send_message
    **kwargs

[2018-07-27 05:42] #469 closed

[2018-07-27 05:43] kirtan73 commented on #469
I was sending smilie in a message so it was showing encoding error.

[2018-08-07 17:16] bobozar opened #470 "Registrion_id Dummy For Android"
I've searched google for this but no success. How can I get a dummy registration_id for Android to test with django-push-notifications? I'm not a mobile developer, just want to use this package functionalities via API.

Any idea?

[2018-08-07 17:25] jamaalscarlett commented on #470
If you look at the webpush section of the readme.  You can use those code snippets to register your browser with FCM and retrieve a registration_id.

[2018-08-07 17:55] bobozar commented on #470
Thanks for the reply. If I get your point, after generating the key, I should create a js file with the code on the readme section and replace with my private key generated? Then try and access the file to get my registration id?

[2018-08-07 18:12] jamaalscarlett commented on #470
Correct.  But the messages you send will only go to that browser instance.  The registration id is not portable.

[2018-08-08 10:25] bobozar commented on #470
Thanks for the reply. I generated the code and place it in the js file.. insert it in my html page and I load the page, nothing like registration_id was found. What am I missing?

[2018-08-08 16:27] jamaalscarlett commented on #470
Do you get the pop-up asking if you want to allow notifications?  If not, the service worker is not going to attempt to register to the back end server.

[2018-08-09 15:26] jamaalscarlett commented on #470
Let me look at the instructions again.  Remember, if you are running this locally the connection needs to be SSL or FCM will not work.

[2018-08-11 10:16] bobozar commented on #470
Ohh.. I'm not on SSL.

[2018-08-13 13:39] jamaalscarlett commented on #470
If you are not using ssl on your server, it won't work.  But you do not get any errors in the JS code.

[2018-08-24 14:33] trottomv opened #472 "RuntimeError: Model class push_notifications.models.GCMDevice doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS."
`In [90]: from push_notifications.models import *
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-90-565263c6f1a8> in <module>()
----> 1 from push_notifications.models import *

~/python/annual-meeting-backoffice/backofficenv/lib/python3.5/site-packages/push_notifications/models.p

[2018-09-15 18:45] mnoorenberghe commented on #276
Was this fixed by #434?

[2018-09-29 17:27] klepov commented on #467
Hi. how fix it?

[2018-10-05 00:50] koedal opened #475 "Add documentation for multiple application support"
This commit added the ability to have multiple applications configured but didn't include any documentation on how to configure the settings. After reading test cases and trial and error I think I figured it out. Please add docs for the settings for multiple application support.

https://github.com/jazzband/django-push-notifications/commit/a6bc50960006e49950ee9be8bc87fed030929132

[2018-10-05 00:53] matthewh commented on #475
Please let me know what needs clarification.

https://github.com/jazzband/django-push-notifications/wiki/Multiple-Application-Support

[2018-10-05 00:58] koedal commented on #475
An example of sample settings would be ideal. I think this is correct but it took me way longer to piece together than it should have.

The docs don't mention the CONFIG settings, for example.

[code]

[2018-10-05 01:03] koedal commented on #475
You could also improve the wiki landing page to have a table of contents. I had looked at the wiki but didn't even see the page reference about it.

<img width="1021" alt="screen shot 2018-10-04 at 8 02 05 pm" src="https://user-images.githubusercontent.com/1350867/46510766-8ae38a80-c810-11e8-978e-ebc8b4238fdd.png">

[2018-10-05 01:10] koedal opened #476 "DeviceAdmin(admin.ModelAdmin) crashes when sending a bulk test."
When I select a device and send a bulk test from the admin panel, it app throws and uncaught KeyError on 'results'. The push notifications still gets sent but the rest of the process crashes.

<img width="1031" alt="screen shot 2018-10-04 at 6 02 27 pm" src="https://user-images.githubusercontent.com/1350867/46510988-92576380-c811-11e8-8ef4-16d9ff44b557.png">

[2018-10-16 20:11] koedal opened #477 "Bulk badge messaging for GCMDevice"
The docs mention sending bulk messages with unique badges here:
https://github.com/jazzband/django-push-notifications#sending-messages-in-bulk

It doesn't appear to work with GCMDevice objects, is that correct? If so, docs should be specific.

[2018-10-21 12:34] kashyap32 opened #478 "Custom Push-notification admin"
Is there any way to give access to an admin to send custom notifications to custom users?

[2018-10-22 14:22] jamaalscarlett commented on #478
I'm not sure what you mean by "custom notifications" or "custom users".  This is a Django plugin, you add it to you existing setup.  Everything is custom, in that, you can configure your server to give access to _anyone_ to send _any message_ to _any user_

[2018-10-30 06:31] chetanghadawaje opened #479 "How to allow one django project alow to different application notification settings."
PUSH_NOTIFICATIONS_SETTINGS = {
'FCM_API_KEY': '[key]',
"FCM_ERROR_TIMEOUT": 1800,
'APNS_CERTIFICATE': os.path.join(BASE_DIR, "[.pem]"),
"APNS_USE_SANDBOX": "api.development.push.apple.com",
"UPDATE_ON_DUPLICATE_REG_ID": True,
"APNS_USE_SANDBOX":True
}

above setting declared two times with two different app

[2018-11-01 12:10] ba1dr opened #480 "_apns_send returns result only if batch=True"
File `./apns.py`, function `_apns_send`. Result is returned only when batch mode is used. Otherwise returns `None`.

[2018-11-14 17:17] lalit-lintel commented on #414
Hi Issue with GCM device, not saving application_id.

[2018-11-14 17:27] lalit-lintel opened #482 "ImproperlyConfigured: push_notifications.conf.AppConfig requires the application_id be specified at all times."
class GCMDeviceSerializer(UniqueRegistrationSerializerMixin, ModelSerializer):
	device_id = HexIntegerField(
		help_text="ANDROID_ID / TelephonyManager.getDeviceId() (e.g: 0x01)",
		style={"input_type": "text"},
		required=False,
		allow_null=True
	)

	class Meta(DeviceSerializerMixin.Meta):
		model = GCMDevice
		fields = (
			"id", "name", "registration_id", "device_id", "active", "date_created",

[2018-11-26 04:16] eskhool commented on #351
PyAPNS2 has support for token authentication now so it is a trivialish exercise to add support now (by taking another conf setting for it)....is anybody looking into this?

[2018-11-27 07:53] eskhool commented on #351
@jleclanche, are you still open to a PR for this?

[2018-11-27 12:48] eskhool opened #483 "FCM data message logic is buggy/wrong ...unable to send pure data message"
Using the following command to send data messages to the app does not seem to work as per documentation (they appear to be going as notifications+data payload always)

The logic in the code always assumes that if the list of FCM_NOTIFICATION_PAYLOAD_KEYS is present in the data dictionary they should always be sent as notification payload. This forces the payload to become notification+data and one

[2018-11-27 12:52] eskhool commented on #463
While deprecating this, implementation should use another standard fcm library instead of using the existing internal implementation (it is definitely buggy).

Suggested options are: pyfcm, fcm-client

[2018-11-27 13:56] jleclanche commented on #463
fcm-client is not suitable. pyfcm looks good, +1 from me

[2018-11-28 02:37] shigmas commented on #351
I added the support on PyAPNS2. After that was accepted, I submitted  PR for the JWT auth. It sat for several months to get accepted, so I just used my own fork. So, it's there, just with merge conflicts. Feel free to take that.

[2018-11-28 04:49] eskhool commented on #463
@jleclanche, Any reason why fcm-client is no good? seems a bit more organized in its approach

[2018-11-28 18:34] jleclanche commented on #463
The library is not maintained.

[2018-11-28 18:35] jleclanche commented on #351
The PR (#426) is good to merge once the last requested changes are done IIRC.

[2018-12-04 21:36] cassidylaidlaw opened #484 "Model key names are too long on MySQL with utf8mb4 collation"
Steps to reproduce:
 * Set up Django project with push_notifications app installed
 * Connect to MySQL database
 * Run `ALTER DATABASE easybill_Prod CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci;`
 * Try to run `manage.py migrate`

It produces the following output:
[code]

This seems to be because some unique fields are longer than 767 bytes when accounting for the 4-byes-per-character in t

[2018-12-05 08:54] afzoun opened #485 "VoIP Notifications"
How to use django-push-notifications to create VoIP notifications?

[2018-12-05 09:00] afzoun commented on #414
Hi
How Should I use these configs? I mean django-push-notifications config is defined as "PUSH_NOTIFICATIONS_SETTINGS" in settings.
How can I use two different "APNS_TOPIC"s?

[2018-12-05 19:27] pnaylor opened #486 "Migration error following Django 2.1/DPN 1.6 upgrade"
Getting this notifications migration issue on one of my project tiers that is preventing us from updating our migrations. This is after recently updating our Django version to 2.1 and this library to 1.6.0. Any advice or possible workarounds would be appreciated, thanks!

Operations to perform:
   Apply all migrations: admin, auth, authtoken, contenttypes, push_notifications, sessions, vivi
 Runni

[2018-12-11 12:43] afzoun commented on #467
https://github.com/jazzband/django-push-notifications/issues/465

[2018-12-21 09:34] goinnn commented on #276
Yes @jleclanche, @jamaalscarlett it is done!

[2019-01-17 11:02] Lai1174 opened #488 "[APNS]ValueError: badly formed hexadecimal UUID string"
device_token="2d489f61e62bb8e5d367f33ceb8391ad70b278bc49337639d581b60209b29e94"
APNSDevice.objects.get(registration_id=device_token)

raise ValueError('badly formed hexadecimal UUID string')

[2019-02-02 20:02] matt-dalton commented on #416
I now seem to be getting this error for some users. I definitely have the topic set correctly, `APNS_USE_SANDBOX = False` and `Debug = False`. Is there anything else I can check?

[2019-03-05 20:39] Blutude opened #490 "APNS_CERTIFICATE url"
in the PUSH_NOTIFICATIONS_SETTINGS can I give the APNS_CERTIFICATE the value of a url? The reason I am asking that is I uploaded my backend to the serverless AWS Lambda. I could not find a way to upload the certificate file to AWS Lambda, so I am thinking of uploading the file to AWS S3, and using the s3 url to point APNS_CERTIFICATE to.

[2019-03-06 19:21] Blutude commented on #490
Or does anyone have any idea of how to upload the APNs certificate file to AWS Lambda?

[2019-03-07 00:52] Blutude commented on #248
When I use a temporary file like the solution provided by @ilyatikhonov, device.send_message() times out. I'm not sure how to debug this.

[2019-03-07 03:53] Blutude commented on #466
APNS_ERROR_TIMEOUT in the settings.py does absolutely nothing. Can we have it back?

[2019-03-07 04:10] Blutude opened #491 "Stuck on device.send_message()"
My code gets stuck on the line `device.send_message(...)` until my request times out (after 30 seconds) and I don't get any information on why it got stuck. I had push notifications working perfectly earlier when I had my backend deployed on a digital ocean server. I switched to serverless AWS Lambda and the difference is that I can't upload the certificate file to the server, so I can't pass on t

[2019-03-13 14:17] wholeinsoul opened #493 "SSL3_READ_BYTES:tlsv1 alert protocol version"
django-push-notifications was working with both sandbox and production certificates. But since yesterday it is failing with following errors. No change in our code or our servers. Any ideas, why it has stopped working.

13/Mar/2019 13:52:23] ERROR [django.request:256] Internal Server Error: /shadmin/push_notifications/apnsdevice/ Traceback (most recent call last):

File "/home/docker/env/local/lib

[2019-03-13 15:22] cspinelive commented on #493
same here

[2019-03-13 15:34] cspinelive commented on #493
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html

mentions

We are looking at upgrading openssl on our ubuntu server to see if that helps

[2019-03-13 15:37] wholeinsoul commented on #493
@cspinelive : You can try but I doubt it is the problem. I already looked at this document. If you see the revision history of this document, it was last updated on 2018-06-04. And our push notifications were working until day before yesterday.

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/RevisionHistory.html#//apple_ref/doc/uid/TP4

[2019-03-13 16:32] wholeinsoul commented on #493
FYI: I tried regenerating apple push certificates but still same error.

[2019-03-13 16:38] cspinelive commented on #493
just adding more info... we are seeing that connections will work about half the time

[2019-03-13 16:46] wholeinsoul commented on #493
Yep. That is my observation too. It is random but most of the times it is failing.

Did you try upgrading the openssl ?
May be you were right that it could be openssl:

Running:
openssl s_client -connect api.push.apple.com:443 -tls1_2

returns:
XHTTP/2 client preface string missing or corrupt. Hex dump for received bytes: 0aread:errno=0

which is not supported by OpenSSL 1.0.1f 6 Jan 2014 and this

[2019-03-13 17:04] cspinelive commented on #493
We're behind the times.  Still using the older binary interface to send the pushes.  We're also using python 2.7.6 on ubuntu 12.04.  Everything I'm seeing on the linux side tells me we've got openssl and tls 1.2, but I'm seeing in the python docs that python might be specifying tls v1 as 1.2 wasn't supported by python until 2.7.9.  Upgrading to a later python version isn't as simple as I'd like be

[2019-03-13 17:08] cspinelive commented on #493
I too have OpenSSL 1.0.1f 6 Jan 2014

[2019-03-13 17:26] cspinelive commented on #493
I might try https://www.miguelvallejo.com/updating-to-openssl-1-0-2g-on-ubuntu-server-12-04-14-04-lts-to-stop-cve-2016-0800-drown-attack/

https://askubuntu.com/questions/429385/upgrade-openssl-on-ubuntu-12-04
indicates that upgrading to f was enough for them.

[2019-03-13 17:28] wholeinsoul commented on #493
I upgraded to OpenSSL 1.1.1a  20 Nov 2018 but same results.
I also checked TLS version supported by my python using following and got "TLS 1.3". So not sure what else to try next.

`python -c "import requests; print(requests.get('https://www.howsmyssl.com/a/check', verify=False).json()['tls_version'])"
`

[2019-03-15 06:10] didils opened #494 "CERTIFICATE_VERIFY_FAILED error while trying fcm"
I just setup for fcm server like below but when I try test message via Django admin pannel I got "urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"

Is there anything that I can fix this p
<img width="895" alt="스크린샷 2019-03-15 오후 3 03 54" src="https://user-images.githubusercontent.com/30797446/54411986-7054fc00-4734-11e9-993d-6acc90c3b378.png">
<img width="565" alt=

[2019-04-09 19:38] MySecondLanguage opened #495 "Where BareDevice & DeviceManager"
Long Day ago, I notice, there was two class in django-push-notification, it was BareDevice and DeviceManager, but now i notice, these class is not exist.

Can you please tell me, in which version, BareDevice and DeviceManager class exist?

Thanks

[2019-04-10 01:40] MySecondLanguage commented on #234
Can i know what version of this library containe BareDevice Class?

[2019-04-30 18:39] haleydr82 opened #496 "APNSServerError: ConnectionFailed when testing from django shell"
Receiving a 'ConnectionFailed' error when trying to send a test message from the django shell:

<APNSDevice: dave>

No handlers could be found for logger "apns2.client"
Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/push_notifications/models.py", line 167, in send_message
    **kwargs
  File "/usr/lib/python2.7/site-packages/push

[2019-05-19 15:08] elcolie opened #497 "pip-compile can not find a version match"
pip version : 19.1.1
python 3.7.3

**Problem:**<br>
Unable to `pip-compile` `master` or `latest release` from `requirements.in`

In my `requirements.in` I have tried `django-push-notifications`, but it raise the error. Then I try installing from `master` with the follows
`-e git+git@github.com:jazzband/django-push-notifications.git@master#egg=django-push-notifications`

They are not work. Here is

[2019-05-20 04:10] elcolie opened #498 "Web Push Notification Document required"
I am trying to use `Web Push Notification`. The Django side I have followed all the way through. However, to test the system I have to run with frontend either.

**Problem:**<br>
I don't understand how to follow the given `Utils functions`. They are many questions raise in my header for example. Where I can put server url to it?
I have seen it is opened issue but @goinnn said it is done #276

**Qu

[2019-05-20 14:07] elcolie commented on #498
Article will come after this shortly. Thanks to [mosetail](https://stackoverflow.com/questions/56217113/how-to-implement-web-client-with-django-push-notifications/56221615#56221615) for the answer

[2019-05-20 14:47] elcolie commented on #498
https://medium.com/@sarit.r/unified-3-type-of-push-notification-with-django-push-notifications-feeb5f42df7e

[2019-05-22 15:32] elcolie commented on #497
Found the root case it comes from dependency lock down by `docker-compose`
https://github.com/web-push-libs/pywebpush/issues/114

[2019-05-22 15:32] #497 closed

[2019-05-22 15:34] elcolie commented on #496
I confirm. With the `master`.
`-e git+git@github.com:jazzband/django-push-notifications.git@c4a0d710711fa27bfb6533c0bf3468cb67a62679#egg=django_push_notifications`
I don't have a problem.

[2019-05-25 01:47] nathando opened #499 "APNS Alternative port changed from 2197 to 2195 ?"
Hi guys,

The APNS push notifications service works fine with development cert. But does not work at all with APNS production cert. So I log in to server and try to connect.

It is now able to connect only through port 2195 not on 443 or 2197. So I went back to check Apple's ports: [https://support.apple.com/en-vn/HT202944](https://support.apple.com/en-vn/HT202944).

And although here it says 2195

[2019-05-25 02:30] #499 closed

[2019-05-29 15:40] exp-f opened #500 "BadDeviceToken on every try"

[2019-05-29 15:45] #500 closed

[2019-06-04 12:55] hemantbadhe opened #503 "Urgent help for iOS notification."
I am developing the iOS app and use APNS for sending push notification on the staging server it works fine, but in the production environment it doesn't work, I have changed .pem file dev to dist but this is not working. Please help

[2019-06-10 15:47] elcolie commented on #498
![image](https://user-images.githubusercontent.com/18206728/59207617-95d99080-8bd1-11e9-96e5-5b648d44ba97.png)
How to change `TITLE DEFAULT, and localhost:63342`?

[2019-06-10 22:43] ekimia commented on #503
did you verify your certs are signed for prod? meaning they werent made for the sandbox

[2019-06-18 11:48] YochevedZ opened #506 "Question: How to use notification action?"
According to Apple documentation, there is an option of "Declaring Your Actionable Notification Types" and "Handling Notifications-Related Actions"
https://developer.apple.com/documentation/usernotifications/declaring_your_actionable_notification_types
https://developer.apple.com/documentation/usernotifications/handling_notifications_and_notification-related_actions
Is it implemented with django-p

[2019-06-28 11:56] string-areeb commented on #500
What fixed it?

[2019-07-02 09:14] string-areeb commented on #396
Working fine for me

[2019-07-06 14:31] #396 closed

[2019-07-25 16:38] elcolie commented on #408
I use `development` cert and my app also in the `development`. I need to set `settings.py`
`DEBUG=True` to solve this problem

[2019-07-27 04:24] elcolie commented on #410
@kit-cat 2 years by now. Any answer on this problem?

[2019-07-27 04:46] elcolie commented on #410
Found  the [answer](https://stackoverflow.com/questions/45858034/django-push-notification-showing-error-in-deployment/48998894#48998894)
My `settings.py` is using production certificate, but for now I need to enable `DEBUG=True`. The main problem comes from `APNS_TOPIC` is not the same as in the Apple website
[code]

[2019-07-27 04:51] elcolie opened #510 "Production certificate raises BadDeviceToken"
`production.py` Either `DEBUG=True or False` they raise same error
[code]

`shell`
[code]

When I use `local.py` with `development` with same database it works
[code]

[code]

**Question**
How do I use production certificate with my project?

[2019-07-27 12:49] kit-cat commented on #410
Hi @elcolie,
I haven't worked on this repo for years - can you please try pinging an active maintainer? Thanks!

[2019-07-27 16:57] elcolie commented on #410
@odinuge @wtayyeb Without `DEBUG=True` I can not send out `push notification`
`DEBUG=False` will raises `Stream` problem.

One big problem right now is `django-push-notification` always let `sentry` sends out the crash report.

**Reference**
[issue](https://github.com/getsentry/sentry-python/issues/443)

[2019-07-27 19:20] wtayyeb commented on #410
Digging in settings.py found that https://github.com/jazzband/django-push-notifications/blob/master/push_notifications/settings.py#L25
`APNS_USE_SANDBOX` is same as `DEBUG` if not explicitly set. you must add `APNS_USE_SANDBOX=False` to your settings.py file to solve the problem.

PS:
  1. I'm not a maintainer, and just have 2 PR merged!
  2. GitHub is limiting my account because I`m in Iran. What

[2019-07-27 19:31] wtayyeb commented on #410
@elcolie I don't plan to send APN messages yet, but in case of sentry I have it enabled for development and production deploys beside django-push-notification and don't have your problem.

[2019-07-28 05:59] elcolie commented on #410
I am confused
What is the correct value of `APNS_USE_SANDBOX` ?
Access time `Sun Jul 28 12:59:17 +07 2019`
<img width="947" alt="Pasted_Image_28_7_19_12_58" src="https://user-images.githubusercontent.com/18206728/62002891-69ed7c80-b137-11e9-8cb3-47228a8693c9.png">

[2019-07-28 06:11] elcolie opened #511 "RFC Document update APNS Development Gateway is changed"
Current one is ` api.sandbox.push.apple.com`
READEME.md is `api.development.push.apple.com`
I confirm both of them works. However, I don't know how long it can last

Please correct me if I am wrong. I am not a big fan of Apple

**References:**
[Establish a Connection to APNs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_re

[2019-07-28 06:13] elcolie commented on #410
After check with source code. Document is outdated

[2019-07-28 06:57] elcolie commented on #510
Code read `boolean`, but actually it is string
[code]
The correct one should be
[code]

The correct value of my `local.py` and `production.py` are as follows
`local.py` with `development certificate`
[code]

`production.py` with `production certificate`. I override the default in order share common configuration
[code]

**References:**
Access time: Sun Jul 28 13:38:01 +07 2019
[master](-e git+git@

[2019-07-28 06:57] #510 closed

[2019-08-02 12:06] chokosabe commented on #510
This needs to make it into the documentation. Would have saved a couple of hours of debugging....

[2019-08-07 07:24] kirtan73 opened #512 "urllib.error.HTTPError: HTTP Error 400: Bad Request"
While sending push notification to the android device via GCM token it gives the following error:

 File "/usr/local/lib/python3.7/site-packages/push_notifications/gcm.py", line 209, in send_message
    chunk, data, cloud_type=cloud_type, application_id=application_id, **kwargs
  File "/usr/local/lib/python3.7/site-packages/push_notifications/gcm.py", line 158, in _cm_send_request
    json_payload

[2019-08-07 11:06] sevdog commented on #276
As of now also Microsoft Edge supports push API, see [caiuse](https://caniuse.com/#search=push%20notifications).

It should be added in `BROWSER_TYPES`.

Also actual example code regex identifies Edge as Chrome.
[code]

[2019-08-07 21:47] mcarim commented on #512
I've just found out a band-aid solution.

Just add "GCM_POST_URL": "https://fcm.googleapis.com/fcm/send" to PUSH_NOTIFICATIONS_SETTINGS and it will work.

  It seems google deprecated "android.googleapis.com/gcm/send" endpoint.

[2019-08-08 10:17] zac156 commented on #512
In my case it was that we had loads of GCMDevices set to `cloud_message_type='GCM'` and this caused the HTTP Error 400: Bad Request

See code snippet here: https://github.com/jazzband/django-push-notifications/blob/master/push_notifications/gcm.py#L153-L164

Fixed this by `GCMDevice.objects.filter(cloud_message_type='GCM').update(cloud_message_type='FCM')`

Might be helpful to someone else.

[2019-08-08 10:25] kirtan73 commented on #512
Thanks, @zac156 it worked for me, it might be possible that GCM has been deprecated as  @mcarim  has commented.
Closing this issue.

[2019-08-08 10:25] #512 closed

[2019-08-13 03:00] RobertoMaurizzi opened #513 "unpinned dependencies (apns2)"
apns2 released a 0.6.0 version that uses type hinting and as such won't work on Python versions older than 3.5.0

[2019-08-13 07:50] Yaroslav-DDI opened #514 "Incompatibility with Python version 3.5.2"
I used pyenv environment with the version of python 3.5.2 and got this error:

[code]

from typing [docs](https://docs.python.org/3.5/library/typing.html#typing.Deque):
class typing.Deque - New in version 3.5.4.

from django-push-notifications [dependencies](https://github.com/jazzband/django-push-notifications#dependencies):
- Python 2.7 or 3.4+

[2019-08-14 13:58] nuschk opened #515 "Current install is broken, because latest apns2 (0.6.0) is incompatible"
The project doesn't work with the latest apns2 (0.6.0), which is installed, as per `setup.cfg`: `apns2>=0.3.0`.

APNS2 did some re-ordering of argument types on `payload.Payload` which leads to the following error:

[code]

The resolution in this case is straight-forward. Either:

1) Don't install latest APNS2 (<= 0.5.0)
2) or use only named attributes for all attributes.

Thank you!

[2019-08-16 10:12] odinuge commented on #514
Duplicate of #513, closing in favor of that one.

[2019-08-16 10:13] #514 closed

[2019-08-16 10:13] odinuge commented on #515
Duplicate of #513, closing in favor of that one.

[2019-08-16 10:13] #515 closed

[2019-08-16 11:21] nuschk commented on #515
Sorry, I didn't see that one. Thanks!

[2019-08-27 20:23] RaD opened #518 "_apns_prepare => TypeError: __init__() got multiple values for argument 'custom'"
Version: 1.6.0
[code]

[2019-08-27 20:51] RaD opened #519 "apns_send_message -> push_notifications.apns.APNSServerError: BadDeviceToken"
Version: 1.6.1
[code]

[2019-08-27 20:55] odinuge commented on #513
Hi,

Thanks for noticing the issue. A new version,`v1.6.1`, is now released to pypi with `apns2<0.6.0` pinned.

Full changelog can be found here: https://github.com/jazzband/django-push-notifications/blob/master/CHANGELOG.md

[2019-08-27 20:55] #513 closed

[2019-08-27 21:18] RaD commented on #416
The same error on Python 3.6 + App 1.6.1

[2019-08-27 21:30] RaD commented on #518
Just upgrade to 1.6.1

[2019-08-27 21:30] #518 closed

[2019-08-27 21:31] RaD commented on #519
Drop all APNS tokens via admin interface.

[2019-08-27 21:31] #519 closed

[2019-08-28 16:12] franciscouzo opened #520 "apns2 version"
Instead of requiring `apns2>=0.3.0,<0.6.0` for all python versions, it's possible to tell setuptools that a version is required for only a specific python version:

[code]

[2019-08-29 20:11] matthewh commented on #495
Checkout this [fork](https://github.com/AndreasBackx/django-push-notifications).

[2019-08-29 20:11] #495 closed

[2019-08-29 20:15] matthewh commented on #479
Please read the wiki entry for [Multiple Application Support](https://github.com/jazzband/django-push-notifications/wiki/Multiple-Application-Support).

[2019-08-29 20:15] #479 closed

[2019-08-30 15:38] odinuge commented on #520
Fixed in #524. Will be a part of the next release

[2019-08-30 15:38] #520 closed

[2019-08-30 16:31] matthewh commented on #429
This is fixed on master and will be present in the next release.

[2019-08-30 16:31] #429 closed

[2019-08-30 20:34] matthewh commented on #483
@eskhool I encountered this as well when we switched from GCM to FCM. There is a flag hidden deep in the code to send a pure data message just like GCM does. I'm am unsure why this flag wasn't reversed as I would have assumed that FCM and GCM should have behaved the same at the time and the flag would be needed to trigger the alternate behavior.

[code]

[2019-08-30 20:55] matthewh commented on #475
@koedal I've added links for the Multiple Application Support page into README and wiki.

[2019-08-30 20:55] #475 closed

[2019-08-30 21:02] matthewh commented on #459
The [link](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html) was [updated](https://github.com/jazzband/django-push-notifications/commit/c4a0d710711fa27bfb6533c0bf3468cb67a62679#diff-88b99bb28683bd5b7e3a204826ead112) by @AustinFuller.

[2019-08-30 21:02] #459 closed

[2019-08-30 21:11] matthewh commented on #330
I'm closing this issue. The project has had multiple application support in release builds for a while.

[2019-08-30 21:11] #330 closed

[2019-09-02 02:09] teripak opened #526 "I got exception KeyError when send_message()"
Hi,
I have below error when I send a web push message by using send_message("test message")
[code]

### Exception: device_reg => 'Chrome' (<class 'KeyError'>)

The environments are
Django==2.2.4
django-push-notifications==1.6.1

and the WebPush device info is as below.

![send_message_error](https://user-images.githubusercontent.com/3594627/64086164-98cbc380-cd71-11e9-83e2-775b4f98814c.png)

Thank

[2019-09-03 18:39] jwmann commented on #455
I'm also having this issue.
The current instructions linked refer to a p12 file and Apple doesn't give out p12 files anymore.
https://github.com/jazzband/django-push-notifications/blob/master/docs/APNS.rst

I'm really not sure how I'm supposed to continue from this point

[2019-09-03 22:18] jwmann commented on #490
I think the best place to upload your certificates would be to something like this: https://aws.amazon.com/quickstart/architecture/vault/

I haven't personally used it before but I know this is the correct way to host secret files.
I would avoid using S3 as it's publicly accessible.

[2019-09-04 17:35] jwmann commented on #455
Okay, so I figured out how to get a p12 file and boy let me tell you. There's no way I could've figured this out by myself.

I managed to find this lovely website: https://batch.com/doc/ios/advanced/general.html#_generating-the-p12-certificate

The screenshots are a bit old but the information is still valid.

Here's a quick instruction list for those interested:
1. Open Keychain Access
2. Select

[2019-09-04 19:28] matthewh commented on #483
Closing, the question has been answered.

[2019-09-04 19:28] #483 closed

[2019-09-16 19:41] kohlab opened #527 "Outdated docs for converting APNS certificate to .pem"
Apple now gives you a .p8 certificate instead of .p12, so the documentation at django-push-notifications/docs/APNS.rst now fails.

Any guidance on how to generate the .pem I need to use this library?

[2019-09-16 21:51] ekimia opened #528 "iOS 13 push support"
Anything in the works? pyAPNS was updated to 0.6.0 a month ago with support for the new keys: https://github.com/Pr0Ger/PyAPNs2/releases

[2019-09-17 07:54] HeroSony opened #529 "IntegrityError: Key (user_id) is not present in table "auth_user""
After changing USER_MODEL setting, and try to attempt insert new gcmdevice record it getting this error.

[code]

[2019-09-17 13:43] jazzband-bot opened #530 "Implement Jazzband guidelines for project django-push-notifications"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-push-notifications](https://github.com/jazzband/django-push-notifications)

It was initiated by @jleclanche who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tas

[2019-09-20 18:42] matthewh commented on #528
@ekimia Run the latest from git and it supports ios13. There *may* be an issue with pyAPNS setting push-type for voip certs. I'm currently looking into that.

[2019-09-20 18:47] matthewh commented on #529
@HeroSony [Changing **USER_MODEL** after starting a project](https://docs.djangoproject.com/en/2.2/topics/auth/customizing/#changing-to-a-custom-user-model-mid-project) is generally frowned upon.

[2019-09-20 18:47] #529 closed

[2019-10-01 21:11] nadiacq commented on #496
Any solution?

[2019-10-03 12:55] jeryRazakarison commented on #494
For those having this issue, this worked for me :
In the Finder, Open the folder Applications/Python 3.7 and double click on the script _launch Install Certificates.command_

After the script is executed, it should be ok

from (https://www.dev2qa.com/how-to-fix-python-error-certificate-verify-failed-unable-to-get-local-issuer-certificate-in-mac-os/)

[2019-10-18 20:28] kohlab commented on #528
Can somebody explain how to use the new keys?  The docs only explain how to generate a .pem from the old keys.  https://github.com/jazzband/django-push-notifications/blob/master/docs/APNS.rst

[2019-10-21 23:59] ksitko commented on #528
@matthewh What's the state of that possible issue with pyAPNS settings for voip certs?

[2019-10-26 11:35] mhsiddiqui opened #532 "CA_MD_TOO_WEAK for APNS devices"
I am getting following error while sending push notification to APNS devices.

`[SSL: CA_MD_TOO_WEAK] ca md too weak (_ssl.c:3503)`

[2019-11-04 20:11] deepeeess commented on #532
Try editing /etc/ssl/openssl.cnf and setting the following value to `1` (the default is `2` on many newer systems, I believe).

`CipherString = DEFAULT@SECLEVEL=1`

[2019-11-05 03:40] #351 closed

[2019-11-05 03:52] chrisballinger opened #534 "Update Docs for Auth Key support"
Now that #533 was merged, we should update the README to reflect the new capabilities.

[2019-11-05 16:24] deepeeess opened #535 "How to manage as a submodule?"
I want to maintain a software asset that uses django push notifications on a long term basis.   As a strategy for doing this I intend to use git submodules to manage small overrides in the  django-push-notifications code, for example adding an attribute to the device model, and some small modifications to the serializers.  I am trying to maintain parity with the git tag and the actual release numb

[2019-11-06 20:17] ekimia commented on #532
@mhsiddiqui did this fix it? Having the same issue here.

[2019-11-07 06:23] mhsiddiqui commented on #532
@ekimia I just found a way to avoid this error. This error was occuring due to latest version of OpenSSL. I was using docker and I had to downgrade OpenSSL version in order to avoid this error. You can use this (http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/openssl_1.1.1-1ubuntu2.1~18.04.4_amd64.deb) version as I am using the same.

[2019-11-16 20:10] david-young-fax commented on #494
how to fix this issue on Ubuntu server?
- ubuntu 18.04
- python 2.7.15
- certifi==2019.9.11

[2019-11-22 00:00] binary-sentient opened #537 "APNS device tokens variable length per Apple docs"
According to this [developer document](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html#//apple_ref/doc/uid/TP40008194-CH8-SW14), apple device tokens can be variable in length:

"APNs device tokens are of variable length. Do not hard-code their size."

However, this line fails validation if the token is anything but 64

[2019-11-22 02:34] auvipy commented on #537
are you up for a PR with test?

[2019-11-22 16:08] binary-sentient commented on #537
Will be happy to as soon as I can get to it. Deadline bearing down on me. I'll have to fix it myself, but I haven't got to it yet.

[2019-11-25 11:25] RealOrangeOne commented on #463
Any progress on this?

A primary issue right now is that `GCM` is the default, so requires some dodgy migrations / code to update this.

Would be good to remove all references to `GCM`, and the special-casing around the 2 message types.

Agreed `pyfcm` would be a good thing to try, but personally I'd suggest getting rid of `GCM`, _then_ working on improving `FCM`.

[2019-12-05 12:14] sevdog commented on #433
Any news about this? I run into this problem because [`UIDevice.current.identifierForVendor.uuidString`](https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor) returns a UUID while GCMDevice wants an HexInteger.

[2019-12-09 16:09] rocchidavide opened #540 "ERROR: django-push-notifications 1.6.1 has requirement apns2<0.6.0,>=0.3.0, but you'll have apns2 0.7.1 which is incompatible."
Hi,
first of all thank you for your efforts do create and share this app :)
When I try to upgrade my pip packages, I obtain:
[code]

Can you upgrade django-push-notifications to be compatible with latest version of apns2 please?

[2019-12-11 06:54] nathando opened #541 "Sending Data message with FCM not working"
Hi contributors, firstly thank you for your great package!
I have an issue regarding the "data" message format of FCM.

So following example in the doc, I send the data message only format (the only difference is that I send from a queryset instead of actual device):
[code]
However, on my FCM console's report, it shows only `Notification` type and `Data` type is empty. The current version I am usi

[2019-12-11 07:13] nathando commented on #541
okay after digging a bit deeper it seems that it's because of this part of the code

[code]
In my `data`, I have a `title`, which is one of the key in `FCM_NOTIFICATIONS_PAYLOAD_KEYS`, so it was automatically pulled out and insert into `notification`. Final payload looks like this:

[code]
I think it is better to at least highlight this behavior in the documentation so that it's less confusing for

[2019-12-11 17:28] jonathan-golorry opened #542 "Breaking change in Django 3.0. Need to add six to continue Python 2 support."
Django 2.0 dropped official support for python 2, but left in some compatibility APIs for 3rd party apps.

Django 3.0 removed those compatibility APIs (1 month before python 2 end-of-life):
https://docs.djangoproject.com/en/3.0/releases/3.0/#removed-private-python-2-compatibility-apis

Projects using Django 3.0 and django-push-notifications 1.6.1 fail to run:
[code]

This affects:
1) https://githu

[2019-12-12 14:26] #541 closed

[2019-12-13 17:49] leventengin opened #545 "add "category" to apns push notification"
how can i add "category" to apns push notification?  do i include to extra?

[2019-12-15 07:24] #542 closed

[2019-12-19 15:42] sevdog opened #546 "Use new FCM APIs"
As of now FCM notifications are sent to `https://fcm.googleapis.com/fcm/send` which is a [legacy API](https://firebase.google.com/docs/cloud-messaging/http-server-ref).

Messages should be sent to [current API endpoint](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages/send):
[code]

[2019-12-20 22:59] shamilbuzz commented on #546
You can change the API Endpoint for FCM by setting an attribute in push notification config as follows,

[code]

[2019-12-20 23:01] shamilbuzz commented on #546
Now what I can suggest is that **the default FCM POST URL should be changed to new format by adding a mandatory parameter "PROJECT_ID" in FCM Config**

[2019-12-21 00:13] shamilbuzz commented on #546
Sorry for my previous replies. I had just started looking into the documents today.
Just now I have found that, for new FCM updates, another way is already implemented in this library. (Thanks to the contributors)

Follow this document here: (Was mentioned as hot-linked in repository's main readme)
https://github.com/jazzband/django-push-notifications/wiki/Multiple-Application-Support

[2019-12-21 00:26] shamilbuzz opened #547 ""application_id" is not passed properly when targeting all users in FCM"
https://github.com/jazzband/django-push-notifications/blob/033839bb1253dc0b9638b1da4bfd1e112678024e/push_notifications/gcm.py#L209

Currently the line is:
`_cm_send_request(None, data, cloud_type=cloud_type, **kwargs)
`

But I suppose it should be: (passing mandatory **application_id** parameter)
`_cm_send_request(None, data, cloud_type=cloud_type, application_id=application_id, **kwargs)`

Let me

[2019-12-24 05:14] andylamp commented on #542
sorry to reopen this but when are you planning to update `pypi` with a new release of the package containing the fixes of the last few patches?

[2019-12-24 11:51] sevdog commented on #546
What concern me is that since APIs are different they accept different parameter format.

Looking into Firebase docs seems that [API v1](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages/send#request-body
) has a different param signature from [legacy](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream-http-messages-json) one.

There is an official [

[2019-12-30 09:45] FuManQ opened #548 "Message response with success but the receiver din't get the notification"
Hi, get a issue, sending message shows that every thing went well but the receiver din't get the notification.

[code]
response with success but mobile din't get the message

but if I send a bulk notification receivers get's their messages
[code]
Any idea?

[2020-01-08 15:17] Achint08 commented on #542
when is this getting updated on pypi?

[2020-01-10 19:38] ivlevdenis commented on #548
send_bulk_message and send_message it same function, check your data and i see you use device_id, but for send message need using registration id

[2020-01-10 20:34] ivlevdenis commented on #545
Not, specify in kwargs
Example:
[code]

[2020-01-11 08:39] FuManQ commented on #548
Yes I know that `send_bulk_message` and `send_message` is same function, using just for readability and other understand that I want to send to multiple users.
But what do you mean by `registration_id` ? If you mean a unique `string` from a user (mobile phone) that is the `device_id` or you mean something else. Could you provide a link to documentation or explain. That would be helpful, thanks!

[2020-01-11 08:40] FuManQ commented on #548
Yes I know that `send_bulk_message` and `send_message` is same function, using just for readability and other understand that I want to send to multiple users.
But what do you mean by `registration_id` ? If you mean a unique `string` from a user (mobile phone) that is the `device_id` or you mean something else. Could you provide a link to documentation or explain. That would be helpful, thanks @iv

[2020-01-11 10:08] ivlevdenis commented on #548
@FuManQ from send_message doc:
[code]
`registration_id` it's id received on register device in Firebase.
From Firebase doc https://firebase.google.com/docs/cloud-messaging/android/first-message#retrieve-the-current-registration-token.

[2020-01-14 12:48] bertonha commented on #542
@jleclanche any provision to release a version on PyPi django 3.0 compatible ?

[2020-01-14 12:51] andylamp commented on #542
@jonathan-golorry is there any reason only one person has access to pypi for this project?

[2020-01-16 16:34] nlittlejohns commented on #527
This thread helped me: #455

[2020-01-16 21:12] nlittlejohns opened #549 "Python crashes on runserver when django-push-notifications is enabled"
Just installed Django-push-notifications 1.6.1 via pip, added it to my installed_apps and configured for APNS.

When I run manage.py runserver, python crashes with this message:
`zsh: abort      env PYTHONIOENCODING=UTF-8 PYTHONUNBUFFERED=1   --default --client --host    `

If I run Python in verbose mode, these are the last few lines:
[code]
running python manage.py runserver --verbosity 3 return

[2020-01-17 16:10] nlittlejohns commented on #549
Ok, figured out where the conflict was: cryptography 2.7.

Can't actually figure out where this requirement came from in the first place, it seems I've ended up with quite a few extra packages installed that I don't need. Did a clean sweep and just installed the barebones and it seems happy now!

[2020-01-17 16:10] #549 closed

[2020-01-18 15:54] mousetail opened #550 "Support for django3"
Currently, this module uses legacy APIs like `six` and `python2_unicode_compatible`. These have been deprecated for a long time and now have been removed removed from django3.0 onward. `python2_unicode_compatible` has no effect in python3, and can be safely removed. `six.string_types` can be safely replaced by `str`.

[2020-01-19 04:37] shree-ranga commented on #550
I had to replace all the "django.utils.six" to just "import six"

[2020-01-30 23:36] nlittlejohns opened #552 "Can't get launchOptions when iOS app launched from notification"
Not sure if this is a django-push-notifications issue or an iOS issue, but my iOS code is pretty standard, so I think the issue might be on this end.

Sending APNS notifications with this code:
`devices.send_message(message={"title" : title, "body" : message}, thread_id="events", extra={ "foo": "bar"})`

Also tried using this alternative:
[code]

I receive the notification on my iOS device and tap

[2020-01-31 15:14] captain-fox opened #553 "Sending APNS notification to devices without application ID"
I'm looking for a library to send APNS notifications to passes in Wallet app on iOS devices. This means I don't need/have application ID, but only use push token and Pass Type ID instead. After I've looked into implementation of this package there's mandatory `application_id` parameter all over the place. Is there any way to use this library bypassing (without) `application_id`?

[2020-02-03 11:05] orimboolak opened #554 "ImportError: cannot import name 'python_2_unicode_compatible'"
I keep getting this error even after i pull the latest changes. Kindly help

[2020-02-03 21:33] nlittlejohns commented on #552
Didn't manage to figure this out, but did find a workaround. The issue is on the iOS side, not on the django side. I posted the workaround here:
https://stackoverflow.com/questions/60007715/launchoptions-always-nil-when-launching-from-a-push-notification/60047466#60047466

[2020-02-03 21:33] #552 closed

[2020-02-04 08:40] mhoonjeon commented on #541
I agree. I had the same issue and solved the problem thanks to @nathando

[2020-02-06 10:24] victorpantoja opened #555 "FCM "priority" should be inside "android""
Hey guys

According to documentation, the "priority" should be inside "android" attribute:

[code]
However, django-push-notifications add it to the same level as "data":
[code]

Am I not seeing something? I fixed it on my fork but it would be cool to use the mainstream again!

Documentation:
https://firebase.google.com/docs/cloud-messaging/concept-options#setting-the-priority-of-a-message

[2020-02-09 07:24] elcolie opened #556 "BadDeviceToken after download app from `App Store`"
I build app from source code. APNS works and no delay
After I publish my app to App Store `regirstration_id` gives me this error
[code]

Is there any one here can shed me the light please?

[2020-02-11 23:26] nlittlejohns opened #557 "Tip: requestPOSTToServer implementation for Web Push"
Got a bit stuck implementing Web Push when the sample code makes a call to "requestPOSTToServer", which doesn't exist.

Thanks to this [blog post](https://www.monotalk.xyz/blog/django-push-notifications-を使ってweb-push-通知を実装する/), I was able to figure out a solution using Ajax and a small Django view.

(uses jQuery's Ajax support)

Add this function to your Javascript:

[code]

Add this view to your D

[2020-02-11 23:26] #557 closed

[2020-02-12 02:45] nlittlejohns commented on #557
**Bonus Bonus Tip**
Web Push in django-push-notifications doesn't support kwargs like "extra" in the same way as APNS and GCM, but instead you can send a message with any JSON you like. You just need to serialize it first:

[code]

This will set the "Title" and "Message" fields. It looks as though to support other items like "icon" etc, you'll need to edit navigatorPush.service.js (or replace it w

[2020-02-12 02:46] nlittlejohns commented on #498
@elcolie late reply, but better late than never eh?

I've just been figuring this out myself, I've posted a solution here: https://github.com/jazzband/django-push-notifications/issues/557#issuecomment-584992502

[2020-02-12 04:02] #498 closed

[2020-02-12 04:03] elcolie commented on #498
Some one need to revise document!

[2020-02-12 13:07] nlittlejohns commented on #498
I can update the docs with some tips once I've got everything a bit more figure out.

[2020-02-12 18:24] nlittlejohns commented on #498
@elcolie I've submitted a PR with expanded documentation based on my experience over the last 24 hours of using Web Push. #558

[2020-02-12 21:06] nlittlejohns commented on #556
Hard to tell, but I would guess one of the following:

- The device was registered on your sandbox environment and is using a stored device token. Try deleting the app from the device, ensuring all user data and keychain entries are erased, then re-install from the App Store. Then remove the device registration from your Django Admin.
- Perhaps you're using a sandbox certificate in production? Les

[2020-02-13 04:19] elcolie commented on #556
@nlittlejohns Yes you are right
`PUSH_NOTIFICATIONS_SETTINGS['APNS_USE_SANDBOX'] = False`
I was confused with doc and code base

[2020-02-13 04:19] #556 closed

[2020-02-13 04:32] elcolie commented on #554
Try `pyenv` and work with `Python3`

[2020-02-13 04:34] elcolie commented on #553
I confirm. I am using my configuration without `application_id`. It is legacy and fading out now you can check from `master` Here are my config

`base.py`
[code]

`production.py`
[code]

[2020-02-13 04:40] elcolie commented on #550
I am using `Django3` from `master` branch with commit `c610dd9c7871f4e81bdffce783df8b040ca22878`
Here is the `requirements.txt` Assume you willing to run `master`
`-e git+git@github.com:jazzband/django-push-notifications.git@master#egg=django-push-notifications`

[2020-02-13 13:23] nlittlejohns commented on #556
@elcolie I recommend you use python-decouple for things like this (if you're not already!)
https://simpleisbetterthancomplex.com/2015/11/26/package-of-the-week-python-decouple.html

`    "APNS_USE_SANDBOX" : config('APNS_USE_SANDBOX', default=False, cast=bool),`

[2020-02-14 11:46] cychongaspevo opened #559 "Passing the image field in options"
How  to pass in image data like the example show in  this page for FCM.

https://firebase.google.com/docs/cloud-messaging/ios/send-image

[2020-02-16 08:04] chellyxia commented on #554
Changes in https://github.com/jazzband/django-push-notifications/pull/544/files are not reflect when installing using `pip install django-push-notifications`

`python_2_unicode_compatible` and `six.string_types` errors persist.

[2020-02-19 12:29] nlittlejohns opened #560 "Web Push: Error when sending notification to unsubscribed browser"
Got Web Push up and running pretty well now, but there seems to be one major flaw in my implementation: If someone unsubscribes from notifications, I get a 410 error and my production app shows an Internal Server Error if I try to send them a notification.

To reproduce:

- Register a browser for web push
- Unregister the service worker on the browser
- Trigger a Web Push notification to a set of

[2020-02-19 13:42] iamareebjamal commented on #550
You shouldn't use master branch, use a specific commit

[2020-02-19 13:44] jamaalscarlett commented on #560
I would catch the error and update the model to set the subscription as expired.

[2020-02-19 13:44] iamareebjamal commented on #554
@chellyxia Because the last release is of Aug 2019, new version hasn't released yet

[2020-02-19 13:46] iamareebjamal commented on #550
@jleclanche Can we please get the latest version released on PyPI?

[2020-02-19 14:39] nlittlejohns commented on #560
Thanks for your reply @jamaalscarlett! If I do this on a QuerySet of WebPush devices, the error is logged, but it appears the operation is halted before sending the notification to other (valid) devices in the QuerySet. Doing it this way also prevents me from discovering the ID of the unregistered device.

My code:

[code]

In this case, would it be best to iterate through the devices in the query

[2020-02-19 15:55] jamaalscarlett commented on #560
Sorry as you can see from the contribution history, I haven't been active on this repo in years.  What format is the error?  Ideally we want to return a json object that enumerates which object caused the error.

[2020-02-19 17:24] nlittlejohns commented on #560
This code is a pretty robust solution I think:

[code]

It does the following:

1. Iterates through a queryset of Web Push devices
2. Tries to send a notification to each device (individually)
3. If there's an error for that device, it checks to see if the error code suggests that the device should not be tried again (see https://autopush.readthedocs.io/en/latest/http.html#error-codes)
4. If the e

[2020-02-19 20:50] jamaalscarlett commented on #560
I agree, push_messages could return something like:
`
{
    'devices': device_count,
    'success': success_count,
    'error': error_count,
    'errors': [
        {
            'device': device_id,
            'error': {
                'code': error_code,
                'msg': error_msg
            }
        }
    ]
}
`

[2020-02-19 21:03] nlittlejohns commented on #560
Looks good to me, I'll try to investigate making a PR when I have a bit more time (which might not be until my workaround starts to get in the way!).

Hopefully my app-side workaround helps some folks in the mean time.

Thanks for your pointers @jamaalscarlett!

[2020-02-19 21:03] #560 closed

[2020-02-23 19:18] dashdanw commented on #540
What version of python are you on?  It seems [here](https://github.com/jazzband/django-push-notifications/blob/master/setup.cfg#L33) that >3.5 you should be good.

[2020-02-24 12:02] cyberviv commented on #528
@matthewh the django-push-notifications package is displaying an error when we install "apns2==0.6.0",
error: "ERROR: django-push-notifications 1.6.1 has requirement apns2<0.6.0,>=0.3.0, but you'll have apns2 0.7.0 which is incompatible."

And "apns2==0.7.0" has the support of key "push_type=alert" which helps to send a push notification when the app is in the foreground.

[2020-02-25 12:48] jleclanche commented on #550
This is part of jazzband, I don't think I'm the only one able to make a release. I'm currently busy with other matters but don't let anything be blocked on me.

[2020-02-25 13:53] jamaalscarlett commented on #550
I can look into it today.  What is the commit hash for the version?

[2020-02-28 21:47] iamareebjamal commented on #550
@jamaalscarlett Latest on master which is more than a month old https://github.com/jazzband/django-push-notifications/commit/c610dd9c7871f4e81bdffce783df8b040ca22878

[2020-03-04 15:08] jamaalscarlett commented on #550
@jleclanche can you add the pypi api token as a secret. I am not able to see the Settings tab.  Once that is done, I can set up the github workflow and deploy the new version.

[2020-03-04 15:13] jleclanche commented on #550
I don't have access to the settings tab either.

[2020-03-04 15:14] jleclanche commented on #550
@jamaalscarlett I can add you as another owner on pypi though, what's your username there?

[2020-03-04 15:47] jamaalscarlett commented on #550
@jleclanche my username is: jamaalscarlett

[2020-03-04 15:50] jleclanche commented on #550
@jamaalscarlett you need a verified primary email address to be added as owner.

[2020-03-04 16:01] jamaalscarlett commented on #550
@jleclanche  OK, email address has been verified.

[2020-03-04 16:05] jleclanche commented on #550
Done. Let me know if you need anything else.

[2020-03-05 20:13] belkka opened #561 "IsOwner permission is redundant (?) or lacks a docstring"
`IsOwner` permission is only used by `AuthorizedMixin`, which defines `.get_queryset()` that returns only devices owned by user. Does this mean that this permission is redundant?

---

My initial problem is following: the project I am working on has some code to partially generate API docs (OpenAPI schema). It recognizes the declared permission_classes on DRF views/viewsets and uses permission cla

[2020-03-09 14:11] DataGreed commented on #455
If I would like to add the p8 support to the lib, where is the best way to start?

[2020-03-09 14:31] DataGreed opened #564 "SSLError when trying to send test messages from admin site"
Here's what I get when trying to send test messages from admin site:
[code]

[code]

Ho do I fix this? This happens with both development and production certificates

[2020-03-10 15:09] jheld commented on #550
Do we have any updates here? Our project is also needing this in. We'd be more than happy to help test it, too.

[2020-03-10 21:55] rjdebastiani commented on #554
I'm having this same issue here, any suggestions for a workaround while the new version is not released?

[2020-03-10 22:09] iamareebjamal commented on #554
https://github.com/jazzband/django-push-notifications/issues/550#issuecomment-585546864

[2020-03-11 10:25] rubnov commented on #416
Same error, Python 3.6.7 + django-push-notifications 1.6.1
[code]

Both on STAGING and PROD environment. Regenerated and tested our .pem certificate as per [these instructions](https://github.com/jazzband/django-push-notifications/blob/master/docs/APNS.rst), made sure the device is posting a fresh token to the server, but still getting this error.

Has anyone figured this out yet?

[2020-03-11 14:15] jamaalscarlett commented on #550
https://github.com/jazzband/django-push-notifications/releases/tag/2.0.0
https://pypi.org/manage/project/django-push-notifications/release/2.0.0/

I still need to fix the release notes, but it is available to download.

[2020-03-11 14:15] #550 closed

[2020-03-18 10:39] simvirakaiml opened #565 "HTTP Error 301: Moved Permanently"
I got this error while trying send notification to user.

[2020-03-23 11:04] RealOrangeOne commented on #565
I assume you're trying to send a notification to an Android device? This happens because GCM shut down, and was replaced with firebase. You'll need to convert things to use Firebase rather than GCM.

[2020-03-25 15:08] DataGreed commented on #527
Okay, so p8 seems to be supported now. The support was silently added in release 2.0.0 (I found it just looking at the sources).

To use p8 you need to set your settings something like this:

[code]

[2020-03-25 15:08] DataGreed commented on #455
Okay, so p8 seems to be supported now. The support was silently added in release 2.0.0 (I found it just looking at the sources).

To use p8 you need to set your settings something like this:

[code]

[2020-03-25 17:13] DataGreed commented on #455
Would be awesome to add it to readme :)

[2020-03-25 18:16] DataGreed opened #567 "KeyError at /admin/push_notifications/apnsdevice/ when bulk sending test notification"
I use p8 cert with django-push-notifications 2.0.0

Whenever I go to admin site and try to send bulk push notification I get following error:

[code]

Seems like the response format changed, there is no `result` key in this dict.
Sending messages not in bulk works flawlessly.

[2020-03-25 19:37] captain-fox commented on #532
I think many of us run dev environment on MacOS or in `docker` so this solution is not universal and does not cover MacOS as there's no such line in `openssl.cnf` file there.
The root of this problem has to be fixed or explained under issue in [pyapns2 issue](https://github.com/Pr0Ger/PyAPNs2/issues/103), so I'd suggest we move this thread there, as this issue occures in several other apns-related

[2020-04-02 18:54] notrealanurag opened #570 "How to use this library, noob here"
Hey there,
I am a beginner so please forgive me if I sound silly. I am trying to make a Rest API using DRF and am using serializers for connecting the models and retrieving the data in ReactJS using the fetch method.
I wanted to have the functionality of push notifications, and use the data of the different models in the notifications.
I read the documentation and but was not able to figure anythi

[2020-04-04 23:03] Sofianel5 commented on #407
Did you ever solve this?

[2020-04-20 07:08] shivamzxzx opened #571 "False migration table - cloud_message_type is added twice in migrations"
When installing from pypi - pip install django-push-notifications==2.0.0
Inside migrations-
./0004_fcm.py

   -->  operations = [
		migrations.AddField(
			model_name='gcmdevice',
			name='cloud_message_type',
			field=models.CharField(choices=[('FCM', 'Firebase Cloud Message'), ('GCM', 'Google Cloud Message')], default='GCM', help_text='You should choose FCM or GCM', max_length=3, verbose_name='C

[2020-04-20 07:50] shivamzxzx commented on #571
Due to some reason push notifications were not deleted while upgrading to newer version, hence the issue.

[2020-04-20 07:50] #571 closed

[2020-04-24 09:38] VladConan opened #573 "Have ImproperlyConfigured exception with looks perfect config"
Trying to send a test message from Django admin. (APNS)
Getting this exception:
"You need to setup PUSH_NOTIFICATIONS_SETTINGS properly to send messages"
my config is
PUSH_NOTIFICATIONS_SETTINGS = {
    "APNS_TOPIC": "com.some.app",
    "APNS_AUTH_KEY_PATH": os.path.join(BASE_DIR, "AuthKey.p8"),
    'APNS_KEY_ID': 'MY_KEY_ID',
    'APNS_TEAM_ID': 'MY_TEAM_ID',
    "APNS_USE_SANDBOX": True,
   "UNI

[2020-04-27 18:35] vlmax74 opened #574 "FCM and payload."
When Android application is in Background or is not running it is not possibile to send BadgeCount properly.
Android is not receiving the notification with public void onMessageReceived(RemoteMessage message) method so the notification only displays message and title in the bar and notifications page.

When App is in Background, the onMessageReceived is called only when all the push notification i

[2020-05-21 07:46] adrianp commented on #573
@VladConan should be `APNS_AUTH_KEY_ID` instead of `APNS_KEY_ID`.

[2020-05-21 08:03] #573 closed

[2020-05-25 16:58] belkka commented on #547
I confirm, it looks reasonable

[2020-06-03 12:31] scherbakovx opened #576 "Using custom USER_MODEL with integer id when default one is uuid"
By default migrations use model from `AUTH_USER_MODEL`, in my case its id is UUID. But I want to use pushes for model where id is integer. When I create new migration and try to apply it, I get such error:
[code]

I found solution for me, but it is rather bad.
Then I looked at migrations files of `django-push-notifications` and see this row in push_notifications/migrations/0001_initial.py:
[code]

[2020-06-04 07:37] xzander opened #577 "UNIQUE_REG_ID setting doesn't work with MySQL"
If I set `UNIQUE_REG_ID` to True and then run `migration 0007_uniquesetting.py`, I get an error `MySQLdb._exceptions.OperationalError: (1170, "BLOB/TEXT column 'registration_id' used in key specification without a key length")`. Django won't fix it according to https://code.djangoproject.com/ticket/2495. And there is a note about the issue in docs https://docs.djangoproject.com/en/2.2/ref/database

[2020-06-07 14:37] dashdanw commented on #540
@rocchidavide I just ran into this today, I'll eat my words! Is there a reason  apn2  is stuck at hyperframe 3.2.0? That release is about 4 years old looking at the [release page](https://github.com/python-hyper/hyperframe/releases).

[2020-06-07 20:49] dashdanw commented on #570
how far did you get?

you'll have to trudge through the django docs yourself but with DRF you can make a relatively simple GET/POST/DELETE viewset along these lines in your `views.py`

[code]

[2020-06-10 10:25] AmirMahmood opened #578 "Use OneSignal service"
Is there any way to work OneSignal service with django-push-notifications?
Or, is there any plan to support OneSignal in future?

[2020-06-13 08:09] aaronn commented on #564
I'm getting the same error.

[2020-06-13 09:17] aaronn commented on #532
Same issue here. Has anyone fixed this?

[2020-06-14 11:07] saileshkush95 opened #579 "How can i integrate this in my project"
I'm new to push notification but i want to integrate this into my project but i didn't know to integrate properly. Here I'm using firebase. So do i need to setup other settings except. FCM API key.  I also tried to follow documentation, but unfortunately i can't figure out how to implement

[2020-06-18 12:52] anugurti-pranaykumar commented on #549
Thanks CARocha reinstalling asn1crypto , solved

[2020-06-20 16:07] pkbihana opened #580 "How to check apns notification result"
Hi,

How I can check apns notification result. Because its returning None always so I am not sure notification sent or not

[2020-06-23 16:12] wajidakhterabbasi commented on #416
For me I had the same issue, I was using token based authentication and the error was regarding device tokens. Make sure your application setup is correct. Also you can try with use_sandbox flag as false. Sometimes the apps even on the test env are getting the tokens from the live account

[2020-07-01 08:58] PhilippDax commented on #574
This is also an issue if you work with phonegap.
https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#notification-vs-data-payloads
Here you don't want to have the "notification" field and instead only use the "data" field.

[2020-07-03 15:00] #553 closed

[2020-07-07 22:52] dashdanw opened #583 "dependency on outdated hyper/h2 package"
I use grpc in tandem with apns notifications, currently the latest release of django-push notifications seems fundamentally incompatible with some of the new features/changes in hyper 3.0+ I'm not sure the best way to solve this but I'd be happy to take a crack if someone can point me in the right direction.

[2020-07-13 10:58] dimaqq commented on #532
Psst. no problem on alpine :)

[2020-07-13 14:57] boscoseries opened #584 "push notification to topic throws"
from the documentation here https://github.com/jazzband/django-push-notifications
[code]

when I do as stated above, I get this error

[code]

I look up the send_message function in site-packages, it is defined like this
**def send_message(registration_ids, data, cloud_type, application_id=None, **kwargs)**

then I modify my arguments to send_message to contain my cloud_type and application_id thu

[2020-07-15 18:03] ekimia commented on #532
@aaronn and everyone - use the new token based method which is better anyways (no more cert expiration!)
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/establishing_a_token-based_connection_to_apns

[2020-07-16 05:01] dimaqq commented on #532
Better is subjective: the JWT allows access to all the apps on your account (team), both prod and staging.
Client certificates are more granular.

[2020-07-17 22:27] ekimia commented on #532
@dimaqq is right. But at the same time, I doubt apple will go and fix this issue given Apple.

[2020-08-27 02:21] aaronn opened #586 "Object of type UUID is not JSON serializable"
I'm passing in a UUID as a part of my `extra` data and getting this error `Object of type UUID is not JSON serializable`.

This seems to be a problem with many django packages in general that rely on the `json` package, and traces down to the apns2 package that actually does the sending.

Anyone have any good solutions for this? Not sure that remembering to cast my `ids` to str every time is a goo

[2020-09-07 03:37] infinityofzeroes opened #587 "Bulk Notification for IOS"
We are currently using version 2.0.0 but we cannot find any working solution for sending bulk push notification for IOS...
Are you able to let us know which is the working line of code for both OS (IOS/ANDROID)???

[2020-09-07 23:19] CodyBontecou commented on #527
@DataGreed Is direct support for .p12 a thing as well?

[2020-09-08 00:53] DataGreed commented on #527
Sorry, I have no idea.

[2020-10-03 18:51] pydlv opened #588 "django.core.exceptions.ImproperlyConfigured: Application (FCM) does not support the setting 'MAX_RECIPIENTS'."
I am getting this this error when ever I try to use devices.send_message(). I have not defined MAX_RECIPIENTS anywhere in the config. Doing so doesn't resolve the error.

Here is my config:
[code]

and then I try to send a notification to my user using the following code:

[code]

and it gives me this error:
`django.core.exceptions.ImproperlyConfigured: Application 'app_push_fcm' (FCM) does not su

[2020-10-03 18:54] pydlv commented on #584
I encountered this issue. You have to fill out the application_id column in the push_notifications_gcm table in your database.

[2020-10-03 19:09] boscoseries commented on #584
I did that. Did yours get solved with it?

[2020-10-03 19:13] pydlv commented on #584
Yes, it solved it for me. But I am sending only to a single user and not an entire topic.

[2020-10-03 19:21] boscoseries commented on #584
I can send to a single and multiple devices via the `device.send_message method` and it works. It is only when I try to send to users subscribed to a my topic (see the directive in the screenshot) that I get that error.
<img width="1369" alt="Screenshot 2020-10-03 at 8 19 49 PM" src="https://user-images.githubusercontent.com/43011099/95000120-f1454400-05b5-11eb-97de-3872bf5eb055.png">

[2020-10-03 19:24] pydlv commented on #588
I may have figured it out. I need to change the values in the cloud_message_type column from GCM to FCM in the push_notifications_gmddevice table.

[2020-10-03 19:41] boscoseries commented on #587
I can send single and bulk push notifications to ANDROID/IOS using these default settings. I hope it works for you too

# Push Notifications
PUSH_NOTIFICATIONS_SETTINGS = {
    # Load and process all PUSH_NOTIFICATIONS_SETTINGS using the AppConfig manager.
    "CONFIG": "push_notifications.conf.AppConfig",
    # collection of all defined applications
    "APPLICATIONS": {
        "<application_nam

[2020-10-12 12:41] SerhiyRomanov commented on #565
@RealOrangeOne Does it mean that in the current version of this package the FCM sending doesn't work?

[2020-10-12 12:56] RealOrangeOne commented on #565
@SerhiyRomanov No. It means sending with GCM is broken. Sending with FCM is just fine, although FCM isn't the default, so there's a couple more hoops to jump through.

[2020-10-26 10:14] tobyspark commented on #442
I was surprised to see duplicate APNS devices when my iOS app re-uploads it’s device token. I get the reasoning above, but following that then shouldn’t the constraint be `unique_together = ['registration_id', 'user’]` rather than none?

(or Django 2.2+ constraint equivalent)

And – thanks all for DPN!

[2020-10-27 13:19] williams9438 commented on #546
Where you able to solve this??

[2020-10-29 13:59] adithya003 commented on #564
use aps.pem instead of aps-cert.pem
follow the process under https://github.com/jazzband/django-push-notifications/blob/master/docs/APNS.rst

[2020-10-30 17:49] jamaalscarlett opened #590 "Errors when using python 3.(5/6/7/8) and djangorestframework 3.12.1"
There seem to be some breaking changes introduced with drf 3.12.1

From travis-ci run for PR: https://github.com/jazzband/django-push-notifications/pull/589

[code]

The last successful test run for the master branch was using drf 3.11.0: https://travis-ci.org/github/jazzband/django-push-notifications/builds/711561117

[2020-11-02 07:35] sevdog commented on #546
ATM I do not have time to work on a PR about this issue.

Since Google is still maintaining legacy API (to keep alive many legacy app) this is not an high-priority.

When I have some free time I could try to address this.

[2020-11-21 11:37] FIRDOUS-BHAT opened #591 "why "click_action" parameter is not getting sent in FCM extra parameters?"

[2020-12-07 10:58] salad-henchmen opened #592 "Not receiving notification on Google Chrome Browser."
I've implemented the web push for a project and it works fine on the Firefox browser. However, when I tested it out with Google Chrome, it didn't appear. There is no error either. The message is lost. Have I missed something? The server and the front end run separately. Could the different domains be the issue?

[2020-12-08 11:08] salad-henchmen commented on #592
https://stackoverflow.com/questions/53161161/django-push-notification-401-unauthorised

[2020-12-08 11:08] #592 closed

[2020-12-14 12:18] alsiPanda opened #593 "Could not deserialize key data"
I have a django rest framework as my api backend(google compute engine) and flutter web in the front(localhost). My backend has no SSL or domain name.
Whenever I try to send notification using `device.send_message()` I get the error `ValueError: Could not deserialize key data`. I have verified everything before this step, including the WebPushDevice . Can't figure out why I am getting this error.

[2020-12-15 08:27] dashdanw commented on #593
Sounds like an issue with your webpush token, see if you can decode it yourself using pyJWT

[2020-12-15 08:34] dashdanw commented on #586
Try something like:

[code]

[2020-12-15 12:34] alsiPanda commented on #593
Thanks @dashdanw, a couple of doubts more here -
Is the webpush token the `auth` value from subscription.keys or `p256dh` ?
 Also in pyjwt, should I use rs256 or hs256 ?

Or should I use the py_vapid.jwt and decode auth/p256dh with either auth or the private_key ?

[2020-12-16 13:26] alsiPanda commented on #593
@dashdanw I am very new to push notifications, so can't figure out which one to decode, using which algorithm. Please help.

[2020-12-18 17:26] alsiPanda commented on #593
Turns out the problem was in settings.py. WP_PRIVATE_KEY should be literally the key string. I had instead used path to key file.

[2020-12-18 17:26] #593 closed

[2020-12-28 18:04] MUDASSARHASHMI opened #594 "FCM error while pushing to Android"
Hi,

After struggle of hours and re-checking every part of code I just am having this error as provided below:

GCMError: {'multicast_id': 1595940385679552100, 'success': 0, 'failure': 1, 'canonical_ids': 0, 'results': [{'error': 'MismatchSenderId', 'original_registration_id': '["My API Key in quotes was here."]'}]}
.

Would really appreciate if someone can advise .

Best Regards,
Cheers.

[2021-01-06 17:29] ge0rg opened #595 "Changing UNIQUE_REG_ID in settings makes the DB schema inconsistent"
The settings variable `UNIQUE_REG_ID` is required to enforce that no duplicate registrations end up in the devices table (which is crucial for "noisy" notifications). However, changing the setting does not yield the desired effect on an existing project. If you add `UNIQUE_REG_ID=True` to your application settings, this will not be enforced by the underlying database.

The reason for this is that

[2021-01-06 17:48] ge0rg opened #596 "Race condition in DeviceViewSetMixin.create() bypasses `UPDATE_ON_DUPLICATE_REG_ID`"
I have an application with Android clients registering for FCM push. Due to a client bug, the Android client will send two identical POST requests to the GCMDeviceAuthorizedViewSet endpoint in parallel.

I have `UPDATE_ON_DUPLICATE_REG_ID=True` configured, so I would expect that one of the requests adds the device, and the other one updates it.

However, both requests end up adding the device to t

[2021-01-10 02:03] krishnasadhu9 commented on #583
@dashdanw Even I face the same issue, is there any way to solve it.

[2021-01-16 12:52] alkharaz opened #597 "keep create new record same registration_id"
hi guys

I just install the lib and was working fine then it keep duplicate each time I post

even its same registration_id and same device_id

[2021-01-16 13:02] #597 closed

[2021-02-01 07:44] sevdog commented on #546
This could be accomplished by using official [`firebase-admin`](https://pypi.org/project/firebase-admin/) or by using the [example code](https://github.com/firebase/quickstart-python/blob/master/messaging/messaging.py) provided by firebase guide.

[2021-02-01 08:33] shamilbuzz commented on #546
First of all, sorry to be not responsive here as it's my secondary github account. Seems like I went for a winter sleep :P

Thanks, @sevdog for pointing the issue with my short reply. Yes, just changing URL is not enough here and actually its not the true solution in any system anywhere.
So AT THAT TIME, how I solved was by overriding few core methods for myself following the official that you had

[2021-02-26 15:23] mcepl commented on #583
Just mentioning https://github.com/Pr0Ger/PyAPNs2/issues/74

[2021-03-06 14:10] nileshprasad137 opened #601 "[Question] HTTP/2-based APNs provider API and binary protocol"
Hi, I am not exactly sure if this is the right platform to raise this question but any help would be great.

Got a mail saying the below,

I saw that this library uses `apns2` for sending push notifications on iOS and that uses HTTP/2 protocol for sending notifications. So, this library can continue to be used for sending iOS notifications right?

Also, I am not clear of the meaning of legacy bina

[2021-03-08 05:04] karanasthana commented on #601
Hi, I received the same mail from Apple.

Just wanted to confirm if we are covering the HTTP/2 requirement in this library?

[2021-03-09 06:34] nileshprasad137 commented on #601
@sevdog, @jamaalscarlett Can anyone confirm on the above?

[2021-03-09 07:39] sevdog commented on #601
For what I understand this should not be an issue nor for this package nor for `apns2` (which is used to send Apple-Push-Notifications).

Apple is dismantling the legacy binary protocol (which was announced on [October 9 2020](https://developer.apple.com/news/?id=c88acm2b)) in favor of the HTTP one. However since `apns2` implements the latter this would not be an issue here since it already uses t

[2021-03-19 08:43] mhoonjeon opened #606 "Passing badge parameter to bulk send_message breaks"
I tried sending messages in bulk as described in the [doc](https://github.com/jazzband/django-push-notifications#sending-messages-in-bulk)
[code]
But I get `TypeError: Object of type function is not JSON serializable` error on line 152 in gcm.py where it says

[code]

the payload that is used as a parameter to the json.dumps is as follows:

[code]

It seems the lambda function that is passed as a

[2021-03-19 09:16] mhoonjeon commented on #477
This doesnt work as the logic is only handled [here](https://github.com/jazzband/django-push-notifications/blob/f2490ba0dbf5e2bf7e1ddb82bba10c68aa410b09/push_notifications/apns.py#L66)

How should we go about this? Any ideas?

[2021-03-19 12:01] mhoonjeon commented on #606
GCMDevice does not support bulk send_message. I think this ought to be in the doc.

See my comment in https://github.com/jazzband/django-push-notifications/issues/477

[2021-03-19 12:01] #606 closed

[2021-03-22 07:37] auvipy commented on #583
trying to upgrade the dependencies would be the right direction.

[2021-03-23 21:17] jamaalscarlett commented on #590
Tests are now passing

[2021-03-23 21:17] #590 closed

[2021-04-02 10:14] iiii4966 opened #609 "How can I add labels to fcm_options?"
The push is being sent through the gcm device in this module.
But as the title says, when send push, need to add lable to fcm_options to track.
If look at the internal code, The `analyticsLabel` key I need does not exist.
[fcm](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#AndroidFcmOptions)
[code]
Can I add it temporarily or add it?

[code]

[2021-04-12 13:33] jpaav commented on #578
As far as I can tell, OneSignal and django-push-notifications do similar things. Both of them allow you to send targeted messages to specific devices/users using a variety of notification methods. If you want to use OneSignal you could probably just [call their REST API](https://documentation.onesignal.com/reference/create-notification).

[2021-04-12 21:41] jpaav opened #610 "Missing documentation for WebPush using the new config"
The [Wiki page](https://github.com/jazzband/django-push-notifications/wiki/Multiple-Application-Support) for the new Config does not include details for WebPush and makes it seem like it is not an option. From the page:

[2021-04-15 01:32] Bashar opened #611 "can i use firebase for iOS instead of APNS?"
I tried to comment out APNS parts from PUSH_NOTIFICATIONS_SETTINGS but it gave the error

You need to setup PUSH_NOTIFICATIONS_SETTINGS properly to send messages

is it possible to use firebase for IOS instead of APNS?

[2021-04-29 09:18] andrewkoltsov commented on #532
I'm using python:3.8-slim-buster docker Image
I solved it with
[code]
I hope it will help somebody

[2021-04-29 09:21] andrewkoltsov commented on #408
Got same issue: cert was generated for sandbox, solution: set `APNS_USE_SANDBOX=True`, but it may work on opposite way, if you are using production cert with `APNS_USE_SANDBOX=True`

[2021-04-29 10:59] AxelHgt commented on #611
Hi,
Yes you need to setup settings to make it work.
And the APNS part is not required.

Example:
[code]

[2021-05-25 08:08] sevdog commented on #207
If `device_id` is mandatory why do not use a [numeric](https://www.postgresql.org/docs/current/datatype-numeric.html#DATATYPE-NUMERIC-DECIMAL) database type since postgresql ATM does not support unsigned 64 bit integers?

[2021-05-25 17:32] #611 closed

[2021-05-25 17:38] jamaalscarlett commented on #554
python 3 is now required

[2021-05-25 17:38] #554 closed

[2021-07-03 21:57] Ludotrico commented on #287
@jamaalscarlett wdym by "lose DRF support"?

[2021-07-06 18:00] jamaalscarlett commented on #287
It was so long ago, but perhaps modifying the models would break the included drf functionality?

[2021-07-06 21:51] Andrew-Chen-Wang opened #613 "Spelling error?"
https://github.com/jazzband/django-push-notifications/blob/13a2c6f7b34ab884f65e2791841549975795bebf/push_notifications/models.py#L148

Not sure if this is just a spelling error of UUID

[2021-07-06 21:57] Andrew-Chen-Wang commented on #596
@ge0rg PR welcome!

[2021-07-08 05:55] ayushin commented on #611
We do this:

https://github.com/jazzband/django-push-notifications/pull/615

[2021-07-19 16:32] Avramo opened #616 "changing `active` state on the `push_notifications_gcmdevice` table"
Hi!

I use django with django-push-notifications.
When sending push notifications, I would like to know which users did/didn't get the message.

Currently I use this code after sending the notifications to know how many were sent/not sent:
[code]
I noticed this is not 100% accurate as the `active` field does not always reflect the actual users' status.
I removed the app and the `active` field was

[2021-07-21 12:26] sevdog opened #617 "webpush device admin unsearchable"
Default admin class by default has `device_id` in `search_fields`:

https://github.com/jazzband/django-push-notifications/blob/da97ebe8f892a28c9288982ce19713226a6e5d4b/push_notifications/admin.py#L20-L23

However `WebPushDevice` model does not define any database field this this name, it only defines a property:

https://github.com/jazzband/django-push-notifications/blob/da97ebe8f892a28c9288982ce1

[2021-07-25 04:21] ayushin opened #618 "Switch over from GCM to FCM"
My understanding that nobody uses GCM anymore, so perhaps it is time for the upgrade?

My suggestion would be to rename GCM model to FCM model (breaking change) and add `platform` choices/enum to it, like I've done in the https://github.com/jazzband/django-push-notifications/pull/615

I agree perhaps there is no reason to keep the GCM model anymore and `message_type` but it will be a (small) break

[2021-07-27 21:38] brianedelman opened #620 "Bulk notification push not returning errors with APNSDevice"
When pushing to a set of APNSDevices like `device_list.send_message(msg)` errors are not returned the same way as if I did a specific APNSDevice `device.send_message(msg)`.

The specific error I was having is that I did not add an APNS_TOPIC to my settings. With a sandbox pem key working locally, this push works fine with no APNS_TOPIC. Maybe this is a separate bug to file or maybe that's intended

[2021-08-30 15:28] Karinmia commented on #588
Faced the same error. @pydlv your comment fixed it so this issue can be closed

[2021-08-30 15:33] Karinmia commented on #579
@saileshkush95 could you please provide what are your PUSH_NOTIFICATIONS_SETTINGS config?

[2021-08-30 15:49] Karinmia commented on #482
@lalit-lintel Is it still relevant?

[2021-09-01 08:56] Phishion commented on #567
same issue

[2021-09-14 09:59] mcepl commented on #540
apns2 is problematic as whole, because it depends on hyper which is dead. https://github.com/Pr0Ger/PyAPNs2/issues/126 (and for example https://github.com/zulip/zulip/pull/18733).

[2021-10-04 13:43] ashishnitinpatil commented on #559
This PR fixed the issue but apparently it was closed - https://github.com/jazzband/django-push-notifications/pull/619

Will try to make a PR to fix the problem, so that you could simply do

[code]

[2021-10-06 15:48] bertonha opened #622 "Incompatible with Python 3.10"
This package is not supported on Python 3.10.

Mainly because of the sub dependency `hyper` (discontinued) is importing `Iterable` from `collection` instead of `collection.abc`

`hyper` is dependency of `apns2`

[2021-10-06 23:56] #613 closed

[2021-11-01 21:34] XDoubleU opened #627 "How to add sound/vibration to push notification?"
I have tried:
`device.send_message(message=message, title=title, sound="enabled")`
and
`device.send_message(message=message, title=title, sound="default")`

Both don't work, what am I doing wrong?

[2021-11-02 07:35] XDoubleU commented on #627
Apparently this is caused by firefox.

[2021-11-02 07:35] #627 closed

[2021-11-03 09:57] muhammad-mamdouh opened #628 "Incompatibility issue when upgrading PyJWT >= 2.0.0 by any other package"
When installing any package with `PyJWT >= 2.0.0` the server crashes as the `django-push-notifications` require `PyJWT < 2.0.0`

Traceback:
[code]

[2021-11-03 09:58] auvipy commented on #628
that package needed to be adjusted IMHO

[2021-11-03 11:08] muhammad-mamdouh commented on #628
@auvipy I figured out now that the problem mainly at the `apns2` package and actually its updated there but the maintainer didn't release the master update now.

https://github.com/Pr0Ger/PyAPNs2/issues/133

[2021-11-07 11:46] nik13 commented on #628
this is because the package is not updated on pip. Use github master branch to install the lastest package

[2021-11-09 08:43] phuong commented on #586
Small fix for @dashdanw suggestion:

[code]

Add this as "monkey patch" to your application so you can serialize an UUID to "JSON object" via json.dumps

[2021-11-10 13:45] #628 closed

[2021-11-10 17:26] halhwadi opened #629 "getting error when run JS client side"
When running the JS code provided in read me section i got the below error:

[code]

lines code caused this issue is:

[code]

[2021-11-10 17:27] halhwadi opened #630 "How to get Registration_id?"
Can you please provide more details on how to capture registration_id for clients devices?

[2021-11-10 18:25] jamaalscarlett commented on #630
That is device specific.  See https://developer.apple.com/forums/thread/70991 and https://developer.android.com/training/articles/user-data-ids

[2021-11-11 15:22] halhwadi commented on #630
Thank you Jamaal for these details..
I'm working on web push notification for django web application.
I have referred to firebase and succeed in getting the user  token , however I still need some help (more details from js perspective in regard of receiving and displaying message and notification for foreground and background modes..

I have tried JS provided in your your read me page but I got s

[2021-11-14 04:12] Phishion opened #633 "Can different messages be specified for each user?"
I raised a PR and improved this problem. It works on my project. I wonder if it can be merged?

[pass alert parameter as a function which accepts token parameter in order to set different message per user](https://github.com/jazzband/django-push-notifications/pull/632)

[2021-11-29 16:27] gdvalderrama commented on #532
I made it a bit shorter just adding the necessary line, instead of copying the whole config:

[code]

This means the CipherString is changed globally though, so use with care.

[2021-12-08 14:30] frallain opened #636 "New release ?"
Would it be possible to enjoy a new release of django-push-notifications ? It has been one year and half since no release and I can see several commits the community could benefit from, given that Django 4.0 is out and that the current 2.0.0 release emits the following  warnings :
[code]
Thanks for this package, keep up the good work!

[2021-12-10 08:35] linhnvhicts opened #637 "Serializer is hard code and isn't using UPDATE_ON_DUPLICATE_REG_ID setting"
https://github.com/jazzband/django-push-notifications/blob/13a2c6f7b34ab884f65e2791841549975795bebf/push_notifications/api/rest_framework.py#L58

This serializer has  hard code to check for duplicate `registration_id` , so even if i set `UPDATE_ON_DUPLICATE_REG_ID` in setting the update `registration_id` on duplicate doesn't work and always return
[code]
regardless of the setting

a quick fix shou

[2021-12-10 09:03] linhnvhicts commented on #637
it was a mistake, sorry i forgot to put the setting in PUSH_NOTIFICATIONS_SETTINGS

[2021-12-10 11:24] bertonha commented on #636
Would be really nice to have a new release because the current released version does not supports Django 4.0.
it raise the following error.

[code]

[2021-12-13 15:48] dismine opened #640 "Incompatibility with userAgentData."
Hi.

I used ``loadVersionBrowser`` function from the documentation. And my view stopped working without producing any errors in logs. Later I figured out that it was caused by unexpected browser name. I use Vivaldi and  ``userAgentData`` recognized it as __Chromium__, not __Chrome__ as we expect, while old user agent string still claims that we are Chrome.

[2021-12-20 17:33] richardthegit commented on #636
Just to add - it also doesn't work with current versions of PyJWT, which make life very difficult when using other packages rely on the new PyJWT API.

[2021-12-22 03:00] levinotik opened #642 "Creating a ForeignKey or OneToOneField to a model in this package generates migrations"
This package seems to be fundamentally broken. To recreate the issue, simply create a model with something along the lines of the following:

[code]

then run

`python manage.py makemigrations`

The result is that Django tries to generate migrations inside of the `django-push-notifications` package. The only side which should generate migrations is the model with the concrete field, namely `MyMode

[2021-12-30 12:42] simonkern commented on #640
The linked PR could also solve your issue. Could you try it?

[2021-12-30 13:12] dismine commented on #640
Hi.

I have tested your code. For Vivaldi the situation is the same. ``navigator.userAgentData`` returns ``Chromium``. It correctly returns ``Chrome`` only when fallback to parsing a user agent string. In my case it is ``Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.113 Safari/537.36``.

So, does it solve my issue? Kind of, yes. But why modern way to get a

[2021-12-30 13:33] simonkern commented on #640
```if (brand.match(/opera|chrome|edge|safari|firefox|msie|trident/i) !== null)```

This condition can never be true for the string "Chromium", which is why it should fallback to userAgent anyway. Are you sure the function returns "Chromium" as browsername?

[code]

[2021-12-30 13:39] dismine commented on #640
Your function returns ``Chrome``. So, yes, it works correctly.

I can only [guess](https://vivaldi.com/blog/user-agent-changes/).

[2022-01-09 21:18] simonkern commented on #642
That happens most likely due to the AutoField which can be customized since Django 3.2, see:

https://docs.djangoproject.com/en/4.0/releases/3.2/

https://docs.djangoproject.com/en/4.0/ref/settings/#std:setting-DEFAULT_AUTO_FIELD

Have set the default to BigAutoField in your settings?

[2022-01-11 22:29] bradleydworak commented on #636
Ditto, code needs updated for compatibility with Django 4.0.
The following conflicting lines:
[code]
should be updated to:
[code]

[2022-01-12 01:09] bigfootjon commented on #636
The required fixes seem to already be present: https://github.com/jazzband/django-push-notifications/commit/ff1337798ce00a059edeccb9702c1c6db61a6bf8

we just need a new release created

[2022-01-12 08:58] sevdog commented on #636
The `force_text` was replaced with `force_str` in ce2140fccecb83cb2bf4203424bbdd47f44428ea.

[2022-01-14 16:57] nlittlejohns commented on #557
I did get it working, but it was so long ago that I don't remember what I had to do, and I don't know if the code I wrote is still working because it's not currently in use. Sorry I can't be of more help!